<footer class="footer">
    <div class="footer__container">

        <div class="footer__wrapper">

            <div class="footer__item">
                <p class="footer__item-title">Помощь:</p>
                <a href="" class="footer__item-link">Вход и регистрация</a>
                <a href="" class="footer__item-link">Все вопросы и ответы </a>
                <a href="" class="footer__item-link">Инструкция по использованию сервиса</a>
            </div>

            <div class="footer__item">
                <p class="footer__item-title">Партнёрам:</p>
                <a href="" class="footer__item-link">Партнёрская программа</a>
                <a href="" class="footer__item-link">Все вопросы и ответы</a>
                <a href="" class="footer__item-link">Коммерческим организациям</a>
                <a href="" class="footer__item-link">Документы</a>
            </div>

            <div class="footer__item">
                <p class="footer__item-title">Полезные ресурсы:</p>
                <a href="" class="footer__item-link">Все полезные ресурсы</a>
                <a href="" class="footer__item-link">Конфиденциальность</a>
            </div>

            <div class="footer__item">
                <p class="footer__item-title">Сервис:</p>
                <a href="" class="footer__item-link">О нас</a>
                <a href="" class="footer__item-link">Главная</a>
                <a href="" class="footer__item-link">Пользовательское соглашение</a>
                <a href="" class="footer__item-link">Контакты</a>
                <a href="" class="footer__item-link">Вакансии</a>
            </div>

            <div class="footer__item">
                <p class="footer__item-title">Мы в соцсетях:</p>
                <div class="footer__item-social">
                    <a href="" class="footer__item-social--link">
                        <img src="../../../../../assets/images/social-vk.png" alt="" class="footer__item-social--img">
                    </a>
                    <a href="" class="footer__item-social--link">
                        <img src="../../../../../assets/images/social-odnokl.png" alt=""
                            class="footer__item-social--img">
                    </a>
                    <a href="" class="footer__item-social--link">
                        <img src="../../../../../assets/images/social-facebook.png" alt=""
                            class="footer__item-social--img">
                    </a>
                    <a href="" class="footer__item-social--link">
                        <img src="../../../../../assets/images/social-telegram.png" alt=""
                            class="footer__item-social--img">
                    </a>
                    <a href="" class="footer__item-social--link">
                        <img src="../../../../../assets/images/social-youtybe.png" alt=""
                            class="footer__item-social--img">
                    </a>
                </div>
            </div>
        </div>
      <div style="font-size: 20px;color: white;margin-top: 10px;margin-bottom: 5px;margin-left: auto;margin-right: auto"><img style="float:left; margin-left: 46%; padding-right: 10px" src="../assets/mylogo.png" width="40px"><p style="margin-top: 20px">MirIteam</p></div>
    </div>

</footer>
