<div class="tests__top">
    <h2 class="main__title">Тесты для выявления типов личности</h2>
    <hr class="main__hr">

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-one.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Типология личностей по А. Афанасьеву</h3>
            <p class="tests__top-info">
                <span>
                    Свою систему он назвал психософией, в ней он каждого человека относит к 24 психотипам, по числу
                    возможных комбинаций
                    четырех элементов характера:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Физика</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Эмоция</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Логика</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Воля</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-two.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Соционический тест</h3>
            <p class="tests__top-info">
                <span>
                    Данный тест был создан на основе типологии К. Юнга, в которой он выделял:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Подберете подходящие вузы, колледжи и программы</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Логические тип;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Этический тип;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Сенсорный тип;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Интуитивный тип.</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-three.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">MBTI тест</h3>
            <p class="tests__top-info">
                <span>
                    Данный тест основан на работе К.Г. Юнга “Психологические типы”. В результате было выделено 4 шкалы:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Ориентация сознания;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Ориентация в ситуации;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Основа принятия решений;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Способ подготовки решений.</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>
</div>

<div class="tests__top">
    <h2 class="main__title">Классические методики по выявлению личностных характеристик</h2>
    <hr class="main__hr">

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-four.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Многофакторный личностный опросник Р. Кеттелла</h3>
            <p class="tests__top-info">
                <span>
                    В тесте Р. Кеттелл выделил 16 факторов, с помощью которых можно описать личность полностью.
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> В тесте содержится 187 вопросов, на которые нужно отвечать быстро не задумываясь.</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Особенностью опросника является то, что ее могут проходить люди с 16 лет и заканчивая периодом
                    старости.</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-five.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Психологическая типология личности К. Юнга</h3>
            <p class="tests__top-info">
                <span>
                    Всех людей он делил на 3 типа:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Интроверты - направляют свою энергию во внутреннюю деятельность;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Экстраверты - направляют свою энергию во внешнюю деятельность;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Амбиверты - обладают равнозначной внутренней и внешней энергией.</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-six.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Личностный опросник Г. Айзенка</h3>
            <p class="tests__top-info">
                <span>
                    Тест состоит из 48 вопросов и имеет такие шкалы как:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> психотизм;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> нейротизм;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> экстраверсия;</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>

    <div class="tests__top-item">
        <img src="../../../assets/images/tests/tests__top-bg-seven.png" alt="" class="tests__top-bg">
        <div class="tests__top-infolist">
            <h3 class="tests__top-title">Пятифакторный опросник личности</h3>
            <p class="tests__top-info">
                <span>
                    Данный опросник состоит из 120 вопросов. Тест диагностирует выраженность следующих факторов:
                </span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Экстраверсия - интроверсия;;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Доброжелательность - враждебность;;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Организованность - неорганизованность;;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Эмоциональная нестабильность - стабильность;;</span>
            </p>
            <p class="tests__top-info">
                <img src="../../../assets/images/tests/tests__top-info.png" alt="" class="tests__top-info--img">
                <span> Открытость - закрытость новому опыту.;</span>
            </p>
        </div>
        <a href="" class="tests__top-link">Пройти</a>
    </div>
</div>