.main {
    width: 100%;
    margin: 100px auto;
}

.main__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #383636;
    margin-bottom: 25px;
}

.main__hr {
    width: 40%;
    height: 0px;
    border: 1px solid #5044ae;
    margin: 0 0 50px 0;
}

.tests__top {
    width: 100%;
    margin-bottom: 90px;
}

.tests__top-item {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.tests__top-bg {
    width: 100%;
    max-height: 400px;
}

.tests__top-infolist {
    position: absolute;
    top: 7%;
    left: 4%;
    width: 61%;
}

.tests__top-title {
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #94ffec;
    margin-bottom: 15px;
}

.tests__top-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    width: 90%;
}

.tests__top-info--img {
    width: 33px;
    height: 33px;
    margin-right: 23px;
}

.tests__top-info span {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.tests__top-link {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 15%;
    text-align: center;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #383636;
    margin-top: 30px;
    display: block;
    position: absolute;
    bottom: 5%;
    right: 1%;
}

.tests__top-link:hover {
    color: #383636;
}
