<p class="nav__title">Ключевые проекты Володарского муниципального района</p>
<h2 class="nav__title">Спорт и культура</h2>
<div class="box">
    <div class="nav__items">
        <p>Наши учреждения</p>

    </div>
    <div class="info">

        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Фок-Триумф</p>
                    <img class="photo" src='../../../assets/images/sport/foc.jpg' alt="">
                    <p class="inline-content-new-text">
                        ФОК в Володарске – типовой проект физкультурно-оздоровительных комплексов,
                        строящихся в Нижегородской области. В состав спортивного комплекса вошли ...
                    </p>

                </div>
            </a>
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">МАУК Володарское СКО</p>
                    <img class="photo" src='../../../assets/images/sport/mayk.jpg' alt="">
                    <p class="inline-content-new-text">
                        МАУК Володарское СКО — 9 учреждений культуры Володарского района, где действуют клубные
                        формирования,
                        которыми руководят бесконечно влюбленные в свою работу яркие и ...
                    </p>

                </div>
            </a>
        </div>
        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">МАУ СШ Авангард</p>
                    <img class="photo" src='../../../assets/images/sport/avan.jpg' alt="">
                    <p class="inline-content-new-text">
                        Муниципальное автономное учреждение спортивная школа «Авангард» Володарского муниципального
                        района Нижегородской области. Основные цели и задачи - создание оптимальных ...
                    </p>

                </div>
            </a>
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Дворец Культуры им. Луначарского</p>
                    <img class="photo" src='../../../assets/images/sport/dk.jpg' alt="">
                    <p class="inline-content-new-text">
                        Дворец Культуры им. Луначарского — крупнейший в Володарском районе ДК ,делающий всё,
                        чтобы жизнь решетихинцев и жителей района была...
                    </p>

                </div>
            </a>
        </div>
    </div>
</div>
<div class="box">
    <div class="nav__items">
        <p>Афиша</p>
    </div>
    <div class="info">

        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Онлайн сервис «Найти солдата»</p>
                    <img class="photo" src='../../../assets/images/sport/ons.jpg' alt="">
                    <p class="inline-content-new-text">
                        В марте 2020 г. по инициативе Фонда «Народный проект»
                        при поддержке Фонда президентских грантов начал свою деятельность ...
                    </p>

                </div>
            </a>

        </div>
        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Сборник лучших добровольческих практик</p>
                    <img class="photo" src='../../../assets/images/sport/cbdp.jpg' alt="">
                    <p class="inline-content-new-text">
                        МВсероссийский конкурс «Доброволец России» каждый год становится
                        объединением альтруизма и...
                    </p>

                </div>
            </a>
        </div>
    </div>
</div>
<div class="box">
    <div class="nav__items">
        <p>События</p>
    </div>
    <div class="info">
        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">День защиты детей в Володарске</p>
                    <img class="photo" src='../../../assets/images/sport/dzch.jpg' alt="">
                    <p class="inline-content-new-text">
                        Выступление творческих коллективов, зажигательная игровая программа,
                        мастер-классы и, конечно же, подарки!
                    </p>

                </div>
            </a>
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Праздник, посвященный Дню защиты детей</p>
                    <img class="photo" src='../../../assets/images/sport/chprz.jpg' alt="">
                    <p class="inline-content-new-text">
                        1 июня 2021 года в Мулинском культурно-досуговом центре прошел праздник,
                        посвященный...
                    </p>

                </div>
            </a>
        </div>
        <div class="column">
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Премьерный показ мультфильма</p>
                    <img class="photo" src='../../../assets/images/sport/mult.jpg' alt="">
                    <p class="inline-content-new-text">
                        20 мая в кинозале "Звезда" состоялся премьерный показ мультфильма
                        "Кролик Питер 2", но он был не обычный...
                    </p>

                </div>
            </a>
            <a href="">
                <div class="inline-content filter">

                    <p class="inline-content-new-title">Дворец Культуры им. Луначарского</p>
                    <img class="photo" src='../../../assets/images/sport/night.jpg' alt="">
                    <p class="inline-content-new-text">
                        Володарский музейный центр в течение ряда лет является участником
                        всероссийской акции "Ночь музеев", которая в этом ...
                    </p>

                </div>
            </a>
        </div>
    </div>
</div>
<div class="box">
    <div class="nav__items">
        <p>Документы</p>
    </div>
    <div class="doc-info">
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">
                <p class="inline-content-new-text-doc">Свидетельство о постановке на учёт российской организации
                    в налоговом органе</p>

            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчёт отдела культуры, спорта и молодёжной политики за 2016 год
                </p>


            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Свидетельство о государственной регистрации юридического лица</p>


            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчет о ходе реализации Программы «Развитие культуры и туризма в
                    Володарском муниципальном районе за 2019 год»</p>


            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Приказ "Об утверждении значений нормативных затрат на выполнение
                    работ муниципальными учреждениями, подведомственных отделу культуры спорта и молодежной политики
                    Володарского муниципального района"</p>


            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Постановление об утверждении плана формирования независимой
                    оценки качества деятельности учреждений культуры Володарского муниципального района</p>


            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Положение об отделе культуры, спорта и молодёжной политики</p>



            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчёт отдела культуры, спорта и молодёжной политики за 2015 год
                </p>



            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчёт отдела культуры, спорта и молодёжной политики за 2017 год
                </p>



            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчёт отдела культуры, спорта и молодёжной политики за 2018 года
                </p>



            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">Отчёт о ходе выполнения муниципальной программы «Развитие
                    физической культуры, спорта и молодежной политики в Володарском муниципальном районе» по итогам 2019
                    года.</p>



            </div>
        </a>
        <a class="doc-info-link" href="">
            <div class="inline-content-doc filter">
                <img class="li-pic" src='../../../assets/images/sport/doc_ico.png' alt="">

                <p class="inline-content-new-text-doc">План мероприятий формирования и внедрения независимой оценки
                    качества деятельности учреждений культуры Володарского муниципального района</p>


            </div>
        </a>
    </div>
</div>