<div class="frame" style="margin-left: 100px">
    <div class="plashka"
        style="margin-left: 0px; width: 100%; margin-top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
        <p>Национальный проект "Культура"</p>
    </div>
    <div class="text" style="margin-left: 15px">
        <p>В рамках регионального проекта "Культурная среда" 1 сентября в п. Решетиха открыта модельная библиотека
            нового поколения. На переоснащение и модернизацию библиотеки из федерального бюджета выделено 5 млн. рублей.
            В рамках подготовки к реализации нацпроекта на выполнение ремонтных работ в рамках Адресной инвестиционной
            программы Нижегородской области дополнительно было выделено 813,3 тыс. рублей. Средства местного бюджета
            составили 1 млн. 183,1 тыс. рублей, внебюджетные источники – 80,6 тыс. рублей.</p>
        <p>В библиотеке проведен капитальный ремонт, организовано комфортное яркое пространство, увеличен книжный фонд
            более чем на 3 тысячи экземпляров, приобретено уникальное оборудование. В модельной библиотеке можно не
            только читать, но и создавать творческие проекты, участвовать в их реализации, проводить мероприятия,
            использовать все возможности для саморазвития и образования: систему виртуальной реальности, интерактивный
            стол с обучающими играми, доступ к фондам российских библиотек через Национальную электронную библиотеку и
            многое другое.</p>
        <p>За счет денежных средств Фонда кино, составивших 5 млн. рублей, в п. Мулино в эти дни открывается кинозал
            "Звезда", что позволит жителям поселения смотреть новинки национальной киноиндустрии на современном и
            соответствующем всем требованиям оборудовании в шаговой доступности.</p>
        <p>Региональный проект "Творческие люди" включает обучение специалистов в рамках повышения квалификации. В
            текущем году восемь специалистов культурно-досуговой деятельности прошли повышение квалификации, в ноябре
            поданы еще 2 заявки на переподготовку кадров.</p>
        <p>Разработана программа "Волонтеры культуры", направленная на обеспечение поддержки добровольческих движений, в
            том числе в сфере сохранения культурного наследия народов Российской Федерации, включая деятельность по
            сохранению исторического облика малых городов. База "Волонтеров культуры" насчитывает 167 человек. В ноябре
            текущего года три волонтера из Володарского района приняли участие в международном волонтерском лагере,
            проводимом на платформе "Добро.РФ".</p>
        <p>Волонтеры Володарского района приняли участие в конкурсе "Волонтеры культуры Нижегородской области", по
            результатам которого заняли два призовых места из девяти номинаций: в номинации "Волонтер года в сфере
            сохранения культурного наследия 2020" – НКО Фонд развития культуры и туризма "Наследие" (Лукашина Мария
            Михайловна), в номинации "Проекты" – клуб молодых семей "Семейный экспресс" п. Центральный (Рызаева Ольга
            Владимировна).</p>
    </div>
</div>