<div class="nav">
    <p class="nav__title">Рабочая группа
    </p>
    <div class="nav__list">
        <div class="nav__items">
            <a class="nav__link" href="google.com">Володарский район</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Предпринимательство</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Имущественная поддержка субъектов малого и среднего
                предпринимательства</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Имущество для бизнеса</a>
        </div>
    </div>
</div>

<ul class="list">
    <li class="list__items card">
        <div class="card__top">
            <p class="card__text">Протокол №3 от 13.10.2020</p>
            <a class="card__btn" href="http://volodarsk.omsu-nnov.ru/?id=280385">Перейти</a>
            <img class="card__image" src="../../../assets/images/icon1.png" alt="">
        </div>
    </li>

    <li class="list__items card">
        <div class="card__top">
            <p class="card__text">Протокол №2 от 24.03.2020
            </p>
            <a class="card__btn" href="http://volodarsk.omsu-nnov.ru/?id=280384">Перейти</a>
            <img class="card__image" src="../../../assets/images/icon1.png" alt="">
        </div>
    </li>

    <li class="list__items card">
        <div class="card__top">
            <p class="card__text">Протокол №1 от 17.03.2020
            </p>
            <a class="card__btn" href="http://volodarsk.omsu-nnov.ru/?id=280383">Перейти</a>
            <img class="card__image" src="../../../assets/images/icon1.png" alt="">
        </div>
    </li>

    <li class="list__items card">
        <div class="card__top">
            <p class="card__text">Постановление № 473 от 17.03.2020
            </p>
            <a class="card__btn" [routerLink]="['', 'system', 'work-group-two']">Перейти</a>
            <img class="card__image" src="../../../assets/images/icon1.png" alt="">
        </div>
        <div class="card__disruption">
            <p>О внесении изменений и дополнений в постановление администрации Володарского муниципального района от
                28.02.2019 № 500 «О создании рабочей группы по вопросам оказания имущественной поддержки субъектам
                малого
                и
                среднего предпринимательства на территории Володарского муниципального района»</p>
        </div>
    </li>

    <li class="list__items card">
        <div class="card__top">
            <p class="card__text">Постановление № 500 от 28.02.2019
            </p>
            <a class="card__btn" [routerLink]="['', 'system', 'work-group-two']">Перейти</a>
            <img class="card__image" src="../../../assets/images/icon1.png" alt="">
        </div>
        <div class="card__disruption">
            <p>О создании рабочей группы по вопросам оказания имущественной поддержки субъектам малого и среднего
                предпринимательства на территории Володарского муниципального района</p>
        </div>
    </li>
</ul>