<div class="main__top">
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/departament.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчет отдела экономики администрации Володарского муниципального района за
                2019 год</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/departament.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчет отдела экономики администрации Володарского муниципального района за
                2018 год</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/departament.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчет отдела экономики администрации Володарского муниципального района за
                2017 год</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/departament.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчет отдела экономики администрации Володарского муниципального района за
                2016 год</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/departament.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчет отдела экономики администрации Володарского муниципального района за
                2015 год</p>
        </a>
    </div>
</div>