.main {
    width: 100%;
    margin-top: 100px;
}

.main__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__top-menu {
    width: 45%;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px #5044ae);
    margin: 0 15px 30px;
}

.main__top-menu--link {
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #ffffff;
}

.main__top-menu--link:hover .main__top-menu--title {
    color: #ffffff;
    text-decoration-line: underline;
}

.main__top-menu--img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.main__top-menu--title {
    position: absolute;
    padding: 25px;
    display: flex;
    align-items: flex-end;
    height: 100%;
    top: 0;
}
