<div class="profile__links">
    <a [routerLink]="['', 'profile-people', 'profile']" class="profile__links-item">Данные</a>
    <a [routerLink]="['', 'profile-people', 'statement']" class="profile__links-item">Мои заявления</a>
    <a [routerLink]="['', 'profile-people', 'tests']"
        class="profile__links-item profile__links-item--active">Тестирования</a>
    <a [routerLink]="['', 'profile-people', 'favorites']" class="profile__links-item">Избранное</a>
    <a [routerLink]="['', 'profile-people', 'organization']" class="profile__links-item">Организации</a>
    <a [routerLink]="['', 'profile-people', 'study']" class="profile__links-item">Учусь/работаю</a>
</div>

<h2 class="profile__title">Мои тестирования</h2>
<hr class="profile__title-hr">

<div class="mytests">
    <a class="mytests__item">
        <p class="mytests__item-text">Проверка на удовлетворённость работы городской инфраструктуры</p>
        <p class="mytests__item-date">20.11.2021, 14:34</p>
    </a>
</div>

<h2 class="profile__title">Тестирования ребёнка</h2>
<hr class="profile__title-hr">

<div class="mytests">
    <a class="mytests__item">
        <p class="mytests__item-text">Проверка на удовлетворённость работы городской инфраструктуры</p>
        <p class="mytests__item-date">20.11.2021, 14:34</p>
    </a>
    <hr class="mytests__hr">

    <a class="mytests__item">
        <p class="mytests__item-text">Проверка на удовлетворённость работы городской инфраструктуры</p>
        <p class="mytests__item-date">20.11.2021, 14:34</p>
    </a>
    <hr class="mytests__hr">
</div>