<div class="news">
    <h2 class="main__title">Новости и мероприятия</h2>
    <hr class="main__hr">

    <ul class="news__list">
        <li class="news__list-item" style="margin-top: 35px">
            <img src="../../../assets/images/new1.png" alt="" class="news__list-img">
            <p class="news__list-title">
              О возможности получить квалифицированную электронную подпись в МРИФНС №2
            </p>
            <p class="news__list-text">
              обратиться с заявлением на выпуск КСКПЭП в налоговый орган
              лично, либо через...
            </p>
            <p class="news__list-date">02.11.2021</p>
        </li>

        <li class="news__list-item">
            <img src="../../../assets/images/new2.png" alt="" class="news__list-img">
            <p class="news__list-title">
              Меры пожарной безопасности в пожароопасный период
            </p>
            <p class="news__list-text">
              При использовании открытого огня в металлической бочке расстояние могут быть сокращены вдвое
            </p>
            <p class="news__list-date">08.10.2021</p>
        </li>

        <li class="news__list-item" style="margin-top: 35px">
            <img src="../../../assets/images/new3.png" alt="" class="news__list-img">
            <p class="news__list-title">
              Памятка по газификации индивидуальных жилых домов
            </p>
            <p class="news__list-text">
              Догазификация распространяется на бесплатное подключение индивидуальных жилых домов, принадлежащих на праве...
            </p>
            <p class="news__list-date">02.07.2021</p>
        </li>
    </ul>
    <hr class="news__hr">
    <a href="" class="news__link">Ко всем новостям</a>
</div>

<div class="interview">
    <h2 class="main__title">Интервью с первыми лицами</h2>
    <hr class="main__hr">

    <div class="interview__top">
        <p class="interview__top-text">
            В рубрике “Первые лица” информацилнное агенство ТАСС ежемесячно публикует интервью российских чиновников,
            политиков и
            бизнесменов - руководителей министерств и ведомств, ведущих представителей законодательной и судебной
            власти,
            государственных корпораций и компаний.
        </p>
    </div>

    <div class="interview__main">
        <div class="interview__main-top">
            <div class="interview__main-top--item">
                <img src="../../../assets/images/press-center/interview__main-top--bg-one.png" alt=""
                    class="interview__main-top--bg">
                <div class="interview__main-top--infolist">
                    <h3 class="interview__main-top--title">
                        <img src="../../../../assets/images/press-center/interview__main-top.png" alt=""
                            class="interview__main-top--img">
                        <span>Сергей Шнуров:</span>
                    </h3>
                    <p class="interview__main-top--info">
                        “Да, я циник!”
                    </p>
                </div>
            </div>
        </div>

        <div class="interview__main-footer">
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-one.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Александр Кудрин: Нужно уметь отказывать</p>
            </div>
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-two.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Дмитрий Рогозин: мой горизонт планирования бескочен</p>
            </div>
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-three.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Александр Беглов: и против течения поплыву, если нада</p>
            </div>
        </div>

        <a href="" class="press__link">Просмотреть другие</a>
    </div>
</div>

<div class="interview">
    <h2 class="main__title">Истории успеха</h2>
    <hr class="main__hr">

    <div class="interview__main">
        <div class="interview__main-top">
            <div class="interview__main-top--item">
                <img src="../../../assets/images/press-center/interview__main-top--bg-history.png" alt=""
                    class="interview__main-top--bg">
                <div class="interview__main-top--infolist">
                    <h3 class="interview__main-top--title">
                        <img src="../../../../assets/images/press-center/interview__main-top--money.png" alt=""
                            class="interview__main-top--img">
                        <span>Неизвестный бизнесмен</span>
                    </h3>
                    <p class="interview__main-top--info">
                        “Миллион на носочках с котиками!”
                    </p>
                </div>
            </div>
        </div>

        <div class="interview__main-footer">
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-one.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Александр Кудрин: Нужно уметь отказывать</p>
            </div>
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-two.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Дмитрий Рогозин: мой горизонт планирования бескочен</p>
            </div>
            <div class="interview__main-item">
                <img src="../../../assets/images/press-center/interview__main-item-three.png" alt=""
                    class="interview__main-item--img">
                <p class="interview__main-item--text">Александр Беглов: и против течения поплыву, если нада</p>
            </div>
        </div>

        <a href="" class="press__link">Просмотреть другие</a>
    </div>
</div>

<div class="forum">
    <h2 class="main__title">Форум, встречи</h2>
    <hr class="main__hr">

    <div class="forum__wrapper">
        <div class="forum__item">
            <h3 class="forum__item-title">Открой форум и узнай происходящее в округе.</h3>
            <p class="forum__item-text">А если есть чем поделиться, начните своё собственное обсуждение!</p>
            <a [routerLink]="['', 'system', 'forum']" class="forum__item-link">Начать общение</a>
        </div>
        <div class="forum__item">
            <img src="../../../assets/images/press-center/forum__item.png" alt="" class="forum__item-img">
        </div>
    </div>

</div>

<div class="media">
    <h2 class="main__title">Медиаматериалы</h2>
    <hr class="main__hr">

    <div class="media__list">
        <div class="media__list-item">
            <img src="../../../assets/images/press-center/media__list-video.png" alt="" class="media__list-video">
            <p class="media__list-item--title">
                Как российский интерфейс «мозг — компьютер» поможет восстановлению пациентов после COVID-19
            </p>
            <p class="media__list-item--text">
                Российские исследователи разработали методику реабилитации
            </p>
            <p class="media__list-item--date">02.07.2021</p>
        </div>

        <div class="media__list-item">
            <img src="../../../assets/images/press-center/media__list-video.png" alt="" class="media__list-video">
            <p class="media__list-item--title">
                Как российский интерфейс «мозг — компьютер» поможет восстановлению пациентов после COVID-19
            </p>
            <p class="media__list-item--text">
                Российские исследователи разработали методику реабилитации
            </p>
            <p class="media__list-item--date">02.07.2021</p>
        </div>
    </div>

    <a href="" class="press__link">Просмотреть другие</a>
</div>

<div class="question">
    <h2 class="main__title">Вопросы и ответы</h2>
    <hr class="main__hr">

    <div class="question__item">
        <div class="question__item-info">
            <h3 class="question__item-info--title">
                <img src="../../../assets/images/press-center/question__item-info.png" alt=""
                    class="question__item-info--img">
                <span>Помощник Ботя</span>
            </h3>
            <p class="question__item-info--text">Напишите ему вопрос и получите моментальный ответ!</p>
        </div>

        <img src="../../../assets/images/press-center/question__item-bot.png" alt="" class="question__item-bot--img">

        <form class="question__item-links">
            <input type="text" class="question__item-links--input" placeholder="Просто напишите, что ищите">
            <button class="question__item-link" type="submit">Отправить</button>
        </form>
    </div>
</div>

<div class="survey">
    <h2 class="main__title">Опросы</h2>
    <hr class="main__hr">

    <div class="survey__item">
        <img src="../../../assets/images/press-center/survey__bg-one.png" alt="" class="survey__bg">
        <div class="survey__infolist">
            <h3 class="survey__title">
                Оценка населением эффективности деятельности руководителей органов местного самоуправления
            </h3>
            <p class="survey__info">
                Уважаемые жители Володарского района!
            </p>
            <p class="survey__info">
                Предлагаем принять участие в опросе "Оценка деятельности глав местного самоуправления и
                руководителей организаций в 2017
                году", проводимом на интернет-портале государственных и муниципальных услуг Нижегородской области.
            </p>
        </div>
        <a class="survey__link" [routerLink]="['', 'survey']">Пройти</a>
    </div>

    <a href="" class="press__link">Просмотреть другие</a>
</div>
