<div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1">Полезные ископаемые</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2">Земельные ресурсы</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Вкладка 3">Лесные ресурсы</label>

    <input id="tab4" type="radio" name="tabs">
    <label for="tab4" title="Вкладка 4">Социально-экономические показатели</label>

    <section id="content-tab1">
        <p>
            На территории Володарского района имеются месторождения и проявления строительных песков,
            кирпичных
            суглинков и глин, песчано-гравийных смесей, сапропелей и питьевых подземных вод.
            <br><br>
            <b>Строительные пески</b>
            Сырьевая база строительных песков района представлена 3 месторождениями (Варехское, Володарское,
            Старковское) с запасами 16222 тыс. м3 и 5 проявлениями (Карьерное, «Гора Хрящевая», «Гора
            Высокая»,
            «Гора Долгая», Утрехское). Пески пригодны для всех строительных целей.
            <br><br>
            <b>Кирпичные суглинки и глины</b>
            Сырьевая база кирпичного сырья представлена одним месторождением (Старковское) с запасом
            кирпичных
            суглинков 682 тыс.м3 и тремя проявлениями (Фролищенское, Володарское, Охлопковское)
            <br><br>
            <b>Песчано-гравийная смесь</b>
            Песчано-гравийная смесь представлена в районе одним проявлением «Мартышевы озера»,
            расположенного в
            18км севера- западнее райцентра и приурочено к незначительной по размерам камовой залежи.
            <br><br>
            <b>Месторождения сапропеля</b>
            В районе числится 13 озерных месторождений сапропеля с суммарными запасами и ресурсами сапропеля
            763
            тыс. тонн условной влаги 60 %, большая часть которых (82,8 %) по различным причинам отнесена к
            забалансовым.
            <br><br>
            <b>Месторождения торфа</b>
            В Володарском районе числится 94 торфяных месторождений, в том числе 8 являются выработанными.
            Оставшиеся запасы и ресурсы торфа составляют 48349 тыс. тонн при условной влаге 40 %. В
            Володарском
            районе выявлены месторождения с запасами торфа с повышенным содержанием серы, который можно
            использовать как сырье для приготовления лечебных грязей.
        </p>
    </section>
    <section id="content-tab2">
        <p>
            Исторические особенности освоения территории района определили структуру его земельных
            угодий.<br>
            <br>
            Всего земель в Володарском 104560 Га, из которых 7318 Га – сельскохозяйственные угодья, в том
            числе:
            пашня – 3494 Га, многолетние насаждения – 276 Га, сенокосов – 2395 Га, пастбищ – 1153 Га. <br>
            <br>
            Общая площадь лесных земель составляет 54,6 тыс. Га., под водой - 722 Га. Земли в черте
            поселений,
            входящих в состав муниципального образования - 6149 Га, в том числе земли жилой застройки - 145
            Га.<br>
            <br>
            Земли промышленности составляют 70964 Га, земли особо охраняемых территорий и объектов – 88 Га.
        </p>
    </section>
    <section id="content-tab3">
        <p>
            Общая площадь лесов Володарского района составляет54,6 тыс. Га.
            <br><br>
            Расчетная лесосека ежегодно составляет 21,7 тыс. куб. м., в том числе по хвойному хозяйству 15,1
            тыс. куб. м.
            <br><br>
            Лесистость района (отношение площади лесных земель к площади территории района) составляет 52,2%
            при
            среднеобластном показателе – 49%.
        </p>
    </section>
    <section id="content-tab4">
        <p>
            В текущей структуре реального сектора экономики основную долю занимает обрабатывающая
            промышленность
            – 40,9%, сельское хозяйство - 40,5%.
            <br><br>
            На сегодняшний день в Володарском районе осуществляют деятельность следующие крупные и средние
            предприятия: ОАО «Агрофирма «Птицефабрика Сеймовская», ООО «Мукомольный комбинат «Володарский»,
            ООО
            «Мясокомбинат «Ильиногорское», Ордена «Знак Почета» ОАО «Сетка» , ООО «Бугровские мельницы», ООО
            Завод «Лакокраска-Юганец», ОАО «Ильиногорское» За 2016 год было отгружено товаров собственного
            производства, выполнено работ и услуг по крупным и средним организациям Володарского
            муниципального
            района на сумму 9026,0млн.рублей.
            <br><br>
            Качество жизни населения является наиболее важной социальной категорией, которая характеризует
            структуру потребностей человека и возможности их удовлетворения, поэтому определяющим фактором
            является уровень заработной платы и социальных выплат. В 2016 году размер среднемесячной
            начисленной
            заработной платы работников крупных и средних предприятий района составил 22126 руб.
        </p>
    </section>
</div>

<map-root></map-root>