<div class="profile__links">
    <a [routerLink]="['', 'profile-company', 'profile-company']" class="profile__links-item">Данные</a>
    <a [routerLink]="['', 'profile-company', 'statements']" class="profile__links-item">Мои заявления</a>
    <a [routerLink]="['', 'profile-company', 'employees']"
        class="profile__links-item profile__links-item--active">Сотрудники</a>
</div>

<div class="education__search">
    <select name="" id="" class="education__search-select">
        <option value="" class="edication__search-select--option">ФИО</option>
        <option value="" class="edication__search-select--option"></option>
        <option value="" class="edication__search-select--option"></option>
        <option value="" class="edication__search-select--option"></option>
        <option value="" class="edication__search-select--option"></option>
        <option value="" class="edication__search-select--option"></option>
    </select>
    <input type="text" class="education__search-input" placeholder="Фамилия Имя Отчество или должность">
    <button class="education__search-input--btn">Найти</button>
</div>

<hr class="hr__emp">

<div class="emp__list">
    <a class="emp__list-item" [routerLink]="['', 'profile-company', 'employees-open']">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

    <a class="emp__list-item">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

    <a class="emp__list-item">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

    <a class="emp__list-item">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

    <a class="emp__list-item">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

    <a class="emp__list-item">
        <img src="../../../assets/images/profile-company/emp__list-item-one.png" alt="" class="emp__list-item--img">
        <p class="emp__list-item--name">
            Альхимович Антон Владимирович
        </p>
        <p class="emp__list-item--status">Руководитель проектов</p>
    </a>

</div>