.login {
    width: 100%;
    background-image: url(../../../assets/images/auth/auth-bg.png);
    background-position: top center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

.container-auth {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 25px;
}

.login__wrapper {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 37%;
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.login__top-img {
    width: 75px;
    margin-right: 24px;
}

.login__top-district {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #5044ae;
    margin-bottom: 5px;
}

.login__top-name {
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #383636;
}

.login__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #5044ae;
    text-align: center;
    margin-bottom: 70px;
}

.login__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.login__item-text {
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #383636;
    margin-bottom: 15px;
    text-align: center;
}

.login__item-input {
    width: 100%;
    background: #5044ae;
    box-shadow: 0px 4px 4px rgba(80, 68, 174, 0.25);
    border-radius: 15px;
    padding: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    border: none;
}

.login__btn {
    width: 80%;
    margin: 30px auto 0;
    border: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(80, 68, 174, 0.25));
    background: linear-gradient(0deg, #ffffff, #ffffff);
    border: 2px solid #5044ae;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #5044ae;
    margin-bottom: 24px;
}

.login__footer {
    width: 90%;
    margin: 0 auto;
}

.login__footer-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #383636;
}

.login__footer-reg,
.login__footer-reg:hover {
    text-decoration-line: underline;
    color: #5044ae;
}

.login__item-check--hr {
    height: 0px;
    width: 100%;
    border: 1px solid #5044ae;
    margin: 10px auto;
}

.login__item-checks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.login__item-check {
    display: flex;
    align-items: center;
}

.login__item-input--check {
    margin-right: 6px;
    width: 30px;
    height: 30px;
}

.login__item-check--text {
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #383636;
}

.login__cheked {
    width: 100%;
    display: flex;
    align-items: center;
}

.login__cheked-input {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}

.login__cheked-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #383636;
}

.form-error {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 78, 116);
}
