<div class="nav">
    <p class="nav__title">Рабочая группа
    </p>
    <div class="nav__list">
        <div class="nav__items">
            <a class="nav__link" href="google.com">Володарский район</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Предпринимательство</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Имущественная поддержка субъектов малого и среднего
                предпринимательства</a>
        </div>
        <div class="nav__items">
            <a class="nav__link" href="google.com">Имущество для бизнеса</a>
        </div>
    </div>
</div>

<div class="blockDownload">
    <div class="blockDownload__block card">
        <div class="card__top">
            <h4 class="card__text"> Скачать «Постановление № 473 от 17.03.2020»</h4>
            <button class="card__btn">Скачать</button>
        </div>
        <p class="card__disruption">
            О внесении изменений и дополнений в постановление администрации
            Володарского муниципального района от 28.02.2019 № 500 «О создании рабочей группы по вопросам оказания
            имущественной поддержки субъектам малого и среднего предпринимательства на территории Володарского
            муниципального района»
        </p>
    </div>
</div>