<p class="title">Многофункциональный центр - МФЦ</p>
<table style="border-width: 0" width="100%" style="margin-bottom:200px;">
    <tr>
        <td>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Адреса и контакты
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Государственные и муниципальные услуги, оказываемые МФЦ
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Постановление о создании МБУ "МФЦ Володарского муниципального района"
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Устав МБУ "МФЦ Володарского муниципального района"
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Сотрудники
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    ПОРЯДОК ОРГАНИЗАЦИИ БЕСПЛАТНОГО ВЫЕЗДА СПЕЦИАЛИСТОВ МФЦ К ЗАЯВИТЕЛЯМ
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Новости
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Статус дела
                </div>
            </a>
            <a href="">
                <div class="plashka" style="margin-top: 10px; width: 750px; margin-left: 0px">
                    Оценка качества предоставления услуг
                </div>
            </a>
        </td>
        <td>
            <div>
                <img src="../../../../assets/soc-sphere/mfc.jpg" width="700">
            </div>
        </td>
    </tr>
</table>