<p class="title">Центр занятости населения Володарского района</p>

<ul class="list">
    <li class="list__items">
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Новости
            </div>
        </a>
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Мероприятия
            </div>
        </a>
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Государственные услуги
            </div>
        </a>
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Личный прием граждан
            </div>
        </a>
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Работа в России
            </div>
        </a>
        <a href="">
            <div class="plashka" style="margin-top: 10px; width: 650px; margin-left: 0px">
                Контакты
            </div>
        </a>
    </li>
    <li class="list__items">
        <img src="../../../../assets/soc-sphere/centrzan.jpg" width="100% " style="float: left">
    </li>
</ul>