<div class="profile__links">
    <a [routerLink]="['', 'profile-people', 'profile']" class="profile__links-item">Данные</a>
    <a [routerLink]="['', 'profile-people', 'statement']" class="profile__links-item">Мои заявления</a>
    <a [routerLink]="['', 'profile-people', 'tests']" class="profile__links-item">Тестирования</a>
    <a [routerLink]="['', 'profile-people', 'favorites']" class="profile__links-item">Избранное</a>
    <a [routerLink]="['', 'profile-people', 'organization']" class="profile__links-item">Организации</a>
    <a [routerLink]="['', 'profile-people', 'study']"
        class="profile__links-item profile__links-item--active">Учусь/работаю</a>
</div>

<h2 class="profile__title">Среднее и дополнительное образование</h2>
<hr class="profile__title-hr">

<div class="education">
    <div class="education__item">
        <p class="education__item-title">Страна:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Россия</option>
            <option value="">Казахстан</option>
            <option value="">Узбекистан</option>
            <option value="">Украина</option>
            <option value="">Белоруссия</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Город:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Нижний Новгород</option>
            <option value="">Водарск</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Школа:</p>
        <select name="" id="" class="education__item-select">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
</div>

<h2 class="profile__title">Высшее образование</h2>
<hr class="profile__title-hr">

<div class="education">
    <div class="education__item">
        <p class="education__item-title">Страна:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Россия</option>
            <option value="">Казахстан</option>
            <option value="">Узбекистан</option>
            <option value="">Украина</option>
            <option value="">Белоруссия</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Город:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Нижний Новгород</option>
            <option value="">Водарск</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Вуз:</p>
        <select name="" id="" class="education__item-select">
            <option value="">НГТУ им. Алексеева</option>
            <option value="">ННГУ им. Лобачевского</option>
            <option value="">ВШЭ</option>
            <option value="">РАНХИГС</option>
            <option value="">ННГАСУ</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Факультет:</p>
        <select name="" id="" class="education__item-select">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Форма обучения:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Очное</option>
            <option value="">Заочное</option>
            <option value="">Очно-заочное</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Статус:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Бакалавр</option>
            <option value="">Магистрант</option>
            <option value="">Аспирант</option>
            <option value="">Ассистент</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Дата выпуска:</p>
        <select name="" id="" class="education__item-select">
            <option value="">2024</option>
            <option value="">2023</option>
            <option value="">2022</option>
            <option value="">2021</option>
            <option value="">2019</option>
            <option value="">2018</option>
            <option value="">2017</option>
            <option value="">2016</option>
        </select>
    </div>

</div>
<button class="education__btn">Добавить</button>

<h2 class="profile__title">Место работы</h2>
<hr class="profile__title-hr">

<div class="education">
    <div class="education__item">
        <p class="education__item-title">Место работы:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Безработный</option>
            <option value="">Программист</option>
            <option value="">HR-специалист</option>
            <option value="">Дизайнер</option>
            <option value=""></option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Страна:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Россия</option>
            <option value="">Казахстан</option>
            <option value="">Узбекистан</option>
            <option value="">Украина</option>
            <option value="">Белоруссия</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Год начала работы:</p>
        <select name="" id="" class="education__item-select">
            <option value="">2021</option>
            <option value="">2020</option>
            <option value="">2019</option>
            <option value="">2018</option>
            <option value="">2017</option>
            <option value="">2016</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Год окончания работы:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Нет</option>
            <option value="">2021</option>
            <option value="">2020</option>
            <option value="">2019</option>
            <option value="">2018</option>
            <option value="">2017</option>
            <option value="">2016</option>
        </select>
    </div>
    <div class="education__item">
        <p class="education__item-title">Должность:</p>
        <select name="" id="" class="education__item-select">
            <option value="">Главный главный</option>
            <option value="">Главный поменьше</option>
            <option value="">Не главный главный</option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
</div>