<p class="title">Развитие строительства стандартного жилья в Нижегородской области ("Жилье для нижегородской семьи")</p>
<p class="text" style="font-weight: bold">
    Администрация Володарского муниципального района доводит до сведения, что с 1 января 2018 года начала действовать
    подпрограмма «Развитие строительства стандартного жилья в Нижегородской области» («Жилье для нижегородской семьи»).
    Подпрограмма является частью государственной программы «Развитие жилищного строительства и государственная поддержка
    граждан по обеспечению жильем на территории Нижегородской области», утвержденной постановлением Правительства
    Нижегородской области от 30.04.2014 года № 302.
</p>
<p class="text">Реализация программы «Жилье для российской семьи» в рамках государственной программы Российской
    Федерации «Обеспечение доступным и комфортным жильем и коммунальными услугами граждан Российской Федерации» была
    завершена в 2017 году.</p>
<p class="text">Подпрограмма предоставляет отдельным категориям граждан возможность приобретения жилых помещений по цене
    ниже рыночной на территории Нижегородской области. Улучшить свои жилищные условия, будучи участниками Подпрограммы,
    граждане смогут за счет собственных и заемных средств путем заключения договоров купли-продажи или участвуя в
    долевом строительстве.</p>
<p class="text">Информацию о подпрограмме можно узнать на сайте министерства социальной политики Нижегородской области и
    в секторе ЖКХ администрации Володарского муниципального района, телефон 4-01-58, контактное лицо - Коровина Татьяна
    Сергеевна.</p>

<a href="">
    <div class="plashka" style="margin-top: 15px">
        О формировании списка граждан, имеющих право быть принятыми в члены ЖСК
    </div>
</a>
<a href="">
    <div class="plashka" style="margin-top: 15px">
        Подпрограмма «Развитие строительства стандартного жилья в Нижегородской области» («Жилье для нижегородской
        семьи»).
    </div>
</a>
<a class="footer-link" href="../../../../assets/soc-sphere/postan.docx">
    <div class="plashka" style="margin-top: 15px">
        Постановление Правительства Нижегородской области №840 от 30 ноября 2017 года
    </div>
</a>