<div class="soc">
    <p class="title">Социальная сфера</p>

    <div class="soc__wrapper">
        <div class="leftframe">
            <p class="frametitle">Здравоохранение и спорт</p>
            <a [routerLink]="['', 'system', 'soc-sphere', 'health-care']">
                <div class="inframe">
                    Здравоохранение
                </div>
            </a>
            <a href="http://www.fok-triumf.ru">
                <div class="inframe">
                    Физкультурно-оздоровительный комплекс - ФОК
                </div>
            </a>
            <a href="https://oksimp.ru">
                <div class="inframe">
                    Культура, спорт и молодежная политика
                </div>
            </a>
            <a [routerLink]="['', 'system', 'soc-sphere', 'horse-complex']">
                <div class="inframe">
                    Конно-спортивный комплекс "Гармония"
                </div>
            </a>
        </div>

        <div class="rightframe">
            <p class="frametitle">Жилищный Вопрос</p>
            <a [routerLink]="['', 'system', 'soc-sphere', 'construction']">
                <div class="inframe">
                    Развитие строительства стандартного жилья в Нижегородской области ("Жилье для нижегородской семьи")
                </div>
            </a>
            <a href="../../../../assets/soc-sphere/180429.zip">
                <div class="inframe">
                    Жильё для молодой семьи
                </div>
            </a>
            <a [routerLink]="['', 'system', 'soc-sphere', 'military-house']">
                <div class="inframe">
                    Жильё для военнослужащих
                </div>
            </a>
        </div>

        <div class="soc__wrapper-two">
            <div class="rightframe">
                <p class="frametitle">Социальная защита</p>
                <a href="http://vld.uszn52.ru">
                    <div class="inframe">
                        Социальная защита
                    </div>
                </a>
                <a [routerLink]="['', 'system', 'soc-sphere', 'guardianship']">
                    <div class="inframe">
                        Опека и попечительство
                    </div>
                </a>
            </div>

            <div class="rightframe">
                <p class="frametitle">Образование и СМИ</p>
                <a href="http://отдел-образования.рф">
                    <div class="inframe">
                        Образование
                    </div>
                </a>
                <a [routerLink]="['', 'system', 'soc-sphere', 'newspaper']">
                    <div class="inframe">
                        СМИ: районная газета "Знамя"
                    </div>
                </a>
            </div>
        </div>

        <div class="leftframe">
            <p class="frametitle">Государственные и неккомерческие организации</p>
            <a [routerLink]="['', 'system', 'soc-sphere', 'employment-center']">
                <div class="inframe">
                    Центр занятости населения Володарского района
                </div>
            </a>
            <div class="inframe">
                Некоммерческие организации Володарского муниципального района
            </div>
            <a [routerLink]="['', 'system', 'soc-sphere', 'pension-fond']">
                <div class="inframe">
                    Пенсионный фонд
                </div>
            </a>
            <a [routerLink]="['', 'system', 'soc-sphere', 'mfc']">
                <div class="inframe">
                    Многофункциональный центр - МФЦ
                </div>
            </a>
        </div>


    </div>
</div>