<div class="manufacture__wrapper">
    <div class="card">
        <img src="../../../assets/images/manufacture/sejm.png">
        <h1>ОАО Агрофирма Птицефабрика Сеймовская</h1>
        <div class="container">
            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Разведение сельскохозяйственной птицы </p>
                    </li>
                    <li class="block">

                        <p><b>Объемы производства</b> Среднее поголовье кур-несушек составляет 3,5 млн.
                            голов
                        </p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> <a
                                href="https://www.youtube.com/watch?v=yhL1v9oaHh8">Да</a></p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> <a href="https://youtu.be/1aooC3RFfvg">Да</a></p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a href="http://seyma.ru/">http://seyma.ru</a></p>
                    </li>
                    <li class="block">
                        <p><b>Почта</b> <a href="mailto::info@seyma.ru">info@seyma.ru</a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> 8 (908) 238-25-00</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/milk.png">
        <h1>ООО «Море молока»</h1>
        <div class="container">
            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Разведение молочного крупного рогатого скота,
                            производство
                            сырого молока </p>
                    </li>
                    <li class="block">

                        <p><b>Объемы производства</b> Нет данных</p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> +7 (902) 786-40-02, +7 (964) 838-74-65</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/izkorm.png">
        <h1>ОАО «Изкорм»</h1>
        <div class="container">

            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Производство готовых кормов для животных, содержащихся на
                            фермах </p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a href="https://izcorm.ru/">https://izcorm.ru/</a></p>
                    </li>
                    <li class="block">
                        <p><b>Почта</b> <a href="mailto::izkorm@ilino.planetann.ru">izkorm@ilino.planetann.ru</a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> 6-13-25, 6-11-11, +7 (83136) 6-13-21, +7 (921) 722-06-72
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/mk.png">
        <h1>ООО «Мукомольный комбинат «Володарский»</h1>
        <div class="container">

            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Производство муки из зерновых культур </p>
                    </li>
                    <li class="block">

                        <p><b>Объемы производства</b> 700 Тонн в сутки</p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> <a
                                href="https://www.youtube.com/watch?v=swOMCfs2CNA">Да</a></p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> <a
                                href="https://vk.com/video/@club195325910?z=video-195325910_456239021%2Fclub195325910%2Fpl_-195325910_-2">Да</a>
                        </p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a href="http://www.mkvolod.ru/">http://www.mkvolod.ru/</a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b>
                            +7 (831) 228-90-80</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/BM.png">
        <h1>ООО «Бугровские мельницы» </h1>
        <div class="container">

            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Производство продуктов мукомольной и крупяной
                            промышленности
                        </p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> <a
                                href="https://www.youtube.com/watch?v=yhL1v9oaHh8">Да</a></p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> <a href="https://www.youtube.com/watch?v=WQd9PmVuvsQ">Да</a>
                        </p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a href="http://www.krst-nn.ru/">http://www.krst-nn.ru/</a></p>
                    </li>
                    <li class="block">
                        <p><b>Почта</b> <a href="mailto::muka@krst-nn.ru">muka@krst-nn.ru</a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> +7 (831) 296-35-72, +7 (831) 246-78-37</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/grid.png">
        <h1>ОАО «Сетка»</h1>
        <div class="container">
            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> Разведение сельскохозяйственной птицы </p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a href="http://www.setka-reshetiha.ru/">http://www.setka-reshetiha.ru/</a></p>
                    </li>
                    <li class="block">
                        <p><b>Почта</b> <a href="mailto::setka@sinn.ru">setka@sinn.ru </a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> +7 (83136) 4-79-99,
                            +7 (83136) 4-72-34</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/images/manufacture/dye.png">
        <h1>ООО Завод «Лакокраска-Юганец»</h1>
        <div class="container">
            <div class="info">
                <ul>
                    <li class="block">
                        <p><b>Вид деятельности</b> производство прочих красок, лаков, эмалей и аналогичных
                            материалов для нанесения покрытий, художественных и полиграфических красок </p>
                    </li>
                    <li class="block">
                        <p><b>Проводятся онлайн экскурси</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Проводятся мастер классы</b> Нет</p>

                    </li>
                    <li class="block">
                        <p><b>Сайт</b> <a
                                href="http://www.zn-belila.ru/index.php?lang=ru">http://www.zn-belila.ru/index.php?lang=ru</a>
                        </p>
                    </li>
                    <li class="block">
                        <p><b>Почта</b> <a href="mailto::lku.belila@gmail.com">lku.belila@gmail.com</a></p>
                    </li>
                    <li class="block">
                        <p><b>Номер телефона</b> (83136) 4-60-60</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>