<p class="title">Форум жителей Володарска</p>

<table style="width: 80%; margin-left: 10%">
    <tr>
        <td>
            <table class="search-table bgcolor">
                <tr>
                    <td width="85%">
                        <p><input class="search-input" type="search" placeholder="Поиск по форуму"></p>
                    </td>
                    <td>
                        <div class="searchbutton">
                            <img src="../../../assets/images/searchicon.png" style="margin: 3% auto; height: 80%;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <span class="text" style="float: left; margin-top: 15px">Теги: </span>
            <span class="teg text">
                Вишенка
            </span>
            <span class="teg text">
                Белочка
            </span>
            <span class="teg text">

                Дерево
            </span>
            <span class="teg text">
                Домашние животные
            </span>
            <span class="teg text">
                Военная реформа Петра 1
            </span>
            <span class="teg text">
                Волынка
            </span>
            <span class="teg text">
                Часы
            </span>
            <span class="teg text">
                Мероприятия 2021
            </span>
            <span class="teg text">
                Студия изобразительного искусства
            </span>
            <span class="teg text">
                Социальные эксперименты
            </span>
            <span class="teg text">
                Галилео
            </span>
        </td>
    </tr>
</table>

<div class="recordcontainer">
    <div class="record filter">

        <div class="record-title">
            <p>Какая-то философская чепуха</p>
        </div>
        <table>
            <tr>
                <td style="width: 65px" rowspan="2">
                    <img src="../../../assets/images/avatar.png" class="avatar">
                </td>
                <td class="nickname">
                    Крытьев Роман
                </td>
            </tr>
            <tr>
                <td class="text">
                    03.11.2021
                </td>
            </tr>
        </table>
        <div class="text">
            <p>Там это, распродажа на AliExpress началась, которая 11.11.</p>
            <p>Я конечно же не знаю, зачем вам эта информация, но суть то в чём? А ссуть-то в нашем подъезде. Что еще
                можно придумать в полпервого ночи, когда html как будто назло не так все поля отрисовывает?</p>
            <p>Мало того, что html какую то фигню творит, так тут еще какой то дизайн надо хоть какой-то придумать, а
                идей вообще нет.</p>
            <p>И домашка по английскому даже не начата...</p>
        </div>
        <hr style="background: #383636">
        <span class="text">Всего 20 комментариев, последний 1 час назад</span>
    </div>
    <div class="record filter">

        <div class="record-title">
            <p>Хочу выходной</p>
        </div>
        <table>
            <tr>
                <td style="width: 65px" rowspan="2">
                    <img src="../../../assets/images/avatar.png"
                        style="width: 50px; height: 50px; border-radius: 50%; margin-left: 5px">
                </td>
                <td class="nickname">
                    Крытьев Роман
                </td>
            </tr>
            <tr>
                <td class="text">
                    03.11.2021
                </td>
            </tr>
        </table>
        <div class="text">
            <p>Хотел я блин до 9 успеть. Ха. Ха. Ха. Не смешно.</p>
            <p>Это вроде не особо то и сложно, но реализовать что-то не получается вообще никак. Этот html придумали
                чтобы грешников в аду пытать, а Прометей (нехороший он титан), зачем то нам его сюда притащил. Вот мы
                блин и страдаем со всеми этими паддингами, марджинами и границами, которые сужают элемент и оставляют
                какие то белые пятна между собой и содержимым контейнера.</p>
            <p>Или есть другое объяснение, почему тэги или на всю страницу, или кверху прилипают, а их контейнер, в
                который они все успешно записаны, 0 пикселей в высоту. Они не в нем, а под ним как то оказались и со
                всеми остальными элементами не взаимодействуют.</p>
        </div>
        <hr style="background: #383636">
        <span class="text">Всего 20 тысяч комментариев, они льются бесконечным потоком и последнего нет</span>
    </div>
    <div class="record filter">

        <div class="record-title">
            <p>Верни костюм, Питер!</p>
        </div>
        <table>
            <tr>
                <td style="width: 65px" rowspan="2">
                    <img src="../../../assets/images/ava2.jpg"
                        style="width: 50px; height: 50px; border-radius: 50%; margin-left: 5px">
                </td>
                <td class="nickname">
                    Энтони Старк
                </td>
            </tr>
            <tr>
                <td class="text">
                    02.11.2021
                </td>
            </tr>
        </table>
        <div class="text">
            <p class="text">- А если бы кто-нибудь умер?</p>
            <p class="text">- Я просто хотел быть, как вы.</p>
            <p class="text">- Ты должен быть лучше. Верни мне костюм.</p>
            <p class="text">- Но я никто без костюма!</p>
            <p class="text">- Если без него ты никто, ты его не достоин. </p>
        </div>
        <hr style="background: #383636">
        <span class="text">Всего 168 комментариев, последний 3 часа назад</span>
    </div>
</div>