<p class="title">Опека и попечительство</p>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/kontaktnaya-informatsiya">
    <div class="plashka">
        Контактная информация
    </div>
</a>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/doci-opeka">
    <div class="plashka">
        Документы
    </div>
</a>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/ya-zhdu-tebya-mama">
    <div class="plashka">
        Я жду тебя, мама
    </div>
</a>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/shkola-zameshchayushchikh-roditelej">
    <div class="plashka">
        Родительская школа
    </div>
</a>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/informatsiya-o-rabote">
    <div class="plashka">
        Информация о работе
    </div>
</a>
<a class="plashka-link" href="http://отдел-образования.рф/index.php/blanki-zayavleniya">
    <div class="plashka">
        Бланки, заявления
    </div>
</a>