<div class="card">
    <div class="slider-container">
        <div class="menu">
            <label for="slide-dot-1"></label>
            <label for="slide-dot-2"></label>
            <label for="slide-dot-3"></label>
            <label for="slide-dot-4"></label>
        </div>
        <input id="slide-dot-1" type="radio" name="slides" checked>
        <div class="slide slide-1"></div>
        <input id="slide-dot-2" type="radio" name="slides">
        <div class="slide slide-2"></div>
        <input id="slide-dot-3" type="radio" name="slides">
        <div class="slide slide-3"></div>
        <input id="slide-dot-4" type="radio" name="slides">
        <div class="slide slide-4"></div>
    </div>
    <h1>Экскурсия на &laquo;Сеймовскую птицефабрику&raquo;</h1>
    <div class="container">
        <div class="info">
            <div class="block">
                <p>
                    Одно из двух градообразующих предприятий. Начала работать в 1964-м году и занималась
                    преимущественно производством яиц. С тех пор Сеймовская птицефабрика выросла во много раз и в
                    настоящее время обеспечивает курятиной и яйцами не только Володарский район, но и Дзержинск и
                    даже Нижний Новгород. <br>
                    <a href="https://www.youtube.com/watch?v=ZOh4Sb97W5c">
                        Онлайн экскурсия по Сеймовской птицефабрике "Яичная акция"
                    </a>
                </p>
            </div>
            <form>
                <fieldset>
                    <legend>Предварительная запись</legend>
                    <p><b>Сайт</b> <a href="http://seyma.ru/"> http://seyma.ru</a></p>
                    <p><b>Почта</b> <a href="mailto::info@seyma.ru"> info@seyma.ru</a></p>
                    <p><b>Номер телефона</b> 8 (908) 238-25-00</p>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<div class="card">
    <div class="slider-container">
        <div class="menu">
            <label for="slide2-dot-5"></label>
            <label for="slide2-dot-6"></label>
            <label for="slide2-dot-7"></label>
        </div>
        <input id="slide2-dot-5" type="radio" name="slides2" checked>
        <div class="slide2 slide2-5"></div>
        <input id="slide2-dot-6" type="radio" name="slides2">
        <div class="slide2 slide2-6"></div>
        <input id="slide2-dot-7" type="radio" name="slides2">
        <div class="slide2 slide2-7"></div>
    </div>
    <h1>Экскурсия на &laquo;Мукомольный комбинат «Володарский&raquo;</h1>
    <div class="container">
        <div class="info">
            <div class="block">
                <p>История мукомольного промысла началась в XIX веке. Первая в районе мельница - Передельновская (на
                    картинке) была построена нижегородским предпринимателем Николаем Александровичем Бугровым. В
                    своё время Бугровский мельзавод был одним из самых высокотехнологичных во всей Российской
                    империи. В её работе использовались паровые машины, а оборудование можно было быстро
                    перенастроить под разные сорта муки.
                    Сейчас в Володарске действуют два мельзавода: Мукомольный комбинат "Володарский" и "Сеймовские
                    мельницы".
                    <a href="https://www.youtube.com/watch?v=swOMCfs2CNA">Онлайн экскурсия на «Мукомольный завод</a>
                </p>
            </div>
        </div>
        <form>
            <fieldset>
                <legend>Предварительная запись</legend>
                <p><b>Сайт</b> <a href="http://seyma.ru/"> http://seyma.ru</a></p>
                <p><b>Почта</b> <a href="mailto::info@seyma.ru"> info@seyma.ru</a></p>
                <p><b>Номер телефона</b> 8 (908) 238-25-00</p>
            </fieldset>
        </form>
    </div>
</div>

<div class="card">
    <div class="slider-container">
        <div class="menu">
            <label for="slide3-dot-8"></label>
            <label for="slide3-dot-9"></label>
        </div>
        <input id="slide3-dot-8" type="radio" name="slides3" checked>
        <div class="slide3 slide3-8"></div>
        <input id="slide3-dot-9" type="radio" name="slides3">
        <div class="slide3 slide3-9"></div>
    </div>
    <h1>Экскурсия на &laquo;Мулинское рыбное хозяйство&raquo;</h1>
    <div class="container">
        <div class="info">
            <div class="block">
                <p>
                    Предприятие расположено в Нижегородской
                    области,
                    Володарском районе, юго-западнее деревни Мулино и представляет собой частную фирму, объединяющую в
                    одной организационной
                    структуре различные звенья единой производственно-технологической цепи
                </p>
            </div>
        </div>
        <form>
            <fieldset>
                <legend>Предварительная запись</legend>
                <p><b>Сайт</b> <a href="http://osetrnn.ru/"> http://osetrnn.ru/</a></p>
                <p><b>Почта</b> <a href="mailto::german523@rambler.ru"> german523@rambler.ru</a></p>
                <p><b>Номер телефона</b> 8 (908) 238-25-00</p>
            </fieldset>
        </form>
    </div>
</div>

<div class="card">
    <div class="slider-container">
        <div class="menu">
            <label for="slide4-dot-10"></label>
            <label for="slide4-dot-11"></label>
            <label for="slide4-dot-12"></label>
        </div>
        <input id="slide4-dot-10" type="radio" name="slides4" checked>
        <div class="slide4 slide4-10"></div>
        <input id="slide4-dot-11" type="radio" name="slides4">
        <div class="slide4 slide4-11"></div>
        <input id="slide4-dot-12" type="radio" name="slides4">
        <div class="slide4 slide4-12"></div>
    </div>
    <h1>Экскурсия на &laquo;Загородный клуб Ильдорф&raquo;</h1>
    <div class="container">
        <div class="info">
            <div class="block">
                <p>
                    Загородный клуб «Ильдорф» расположен на территории площадью 6 га. в живописном уголоке Нижегородской
                    области.
                    Оригинальное оформление в стиле баварской деревни прекрасно гармонирует с окружающей природой.
                    Ландшафтный дизайн и арт
                    - объекты создают неповторимую атмосферу гостеприимства.
                </p>
            </div>
        </div>
        <form>
            <fieldset>
                <legend>Предварительная запись</legend>
                <p><b>Сайт</b> <a href="https://www.ildorf.ru/"> https://www.ildorf.ru/</a></p>
                <p><b>Почта</b> <a href="mailto::rd@ildorf.ru"> rd@ildorf.ru</a></p>
                <p><b>Номер телефона</b> +7 (831) 438 88 88</p>
            </fieldset>
        </form>
    </div>
</div>

<div class="card">
    <div class="slider-container">
        <div class="menu">
            <label for="slide5-dot-13"></label>
            <label for="slide5-dot-14"></label>
            <label for="slide5-dot-15"></label>
        </div>
        <input id="slide5-dot-13" type="radio" name="slides5" checked>
        <div class="slide5 slide5-13"></div>
        <input id="slide5-dot-14" type="radio" name="slides5">
        <div class="slide5 slide5-14"></div>
        <input id="slide5-dot-15" type="radio" name="slides5">
        <div class="slide5 slide5-15"></div>
    </div>
    <h1>Экскурсия на &laquo;GEO SM Ильиногорск, геотекстиль&raquo;</h1>
    <div class="container">
        <div class="info">
            <div class="block">
                <p>
                    В компании GeoSM Вы можете заказать геотекстиль для крупного строительства, для фильтров и труб, для
                    гидроизоляции
                    фундаментов и армирования склонов, в том числе черного цвета. Мы занимаемся производством и
                    продукции всех марок и
                    разновидностей с 2007 года по оптимальной цене.
                </p>
            </div>
        </div>
        <form>
            <fieldset>
                <legend>Предварительная запись</legend>
                <p><b>Сайт</b> <a href="https://geo-sm.ru/"> https://geo-sm.ru/</a></p>
                <p><b>Почта</b> <a href="mailto::info@geo-sm.ru"> info@geo-sm.ru</a></p>
                <p><b>Номер телефона</b> 8 (499) 113-57-66</p>
            </fieldset>
        </form>
    </div>
</div>