<div class="main__top">
    <div class="main__top-new">
        <img src="../../../assets/images/newmain.png" alt="" class="main__top-new--img">
        <p class="main__top-new--title">Главное в городе</p>
        <p class="main__top-new--text">
          Сегодня некоторые государственные услуги предоставляются Пенсионным фондом России в...
            <br>
            <span>5.11.2021</span>
        </p>
    </div>
    <div class="main__top-appeal">
        <img src="../../../assets/images/main__top-appeal.png" alt="" class="main__top-appeal--img">
        <p class="main__top-appeal--title">Подать обращение</p>
        <a class="main__top-appeal--link">Перейти</a>
    </div>
</div>

<div class="news">
    <h3 class="news__title">Новости</h3>
    <hr class="news__hr">

    <ul class="news__list">
        <li class="news__list-item" style="margin-top: 35px">
            <img src="../../../assets/images/new1.png" alt="" class="news__list-img">
            <p class="news__list-title">
              О возможности получить квалифицированную электронную подпись в МРИФНС №2
            </p>
            <p class="news__list-text">
              обратиться с заявлением на выпуск КСКПЭП в налоговый орган
              лично, либо через...
            </p>
            <p class="news__list-date">02.11.2021</p>
        </li>

        <li class="news__list-item">
            <img src="../../../assets/images/new2.png" alt="" class="news__list-img">
            <p class="news__list-title">
              Меры пожарной безопасности в пожароопасный период
            </p>
            <p class="news__list-text">
              При использовании открытого огня в металлической бочке расстояние могут быть сокращены вдвое
            </p>
            <p class="news__list-date">29.10.2021</p>
        </li>

        <li class="news__list-item" style="margin-top: 35px">
            <img src="../../../assets/images/new3.png" alt="" class="news__list-img">
            <p class="news__list-title">
              Памятка по газификации индивидуальных жилых домов
            </p>
            <p class="news__list-text">
              Догазификация распространяется на бесплатное подключение индивидуальных жилых домов, принадлежащих на праве...
            </p>
            <p class="news__list-date">02.07.2021</p>
        </li>
    </ul>
    <hr class="news__hr">
    <a href="" class="news__link">Ко всем новостям</a>
</div>

<div class="business">
    <a href="https://мойбизнес.рф/" class="business__link">
        <p class="business__link-title">Мой бизнес</p>
        <p class="business__link-text">Перейти</p>
        <img src="../../../assets/images/business__link.png" alt="" class="business__link-img">
    </a>
</div>

<div class="services">
    <a href="" class="services__link">
        <p class="services__link-title">Онлайн сервисы</p>
        <p class="services__link-text">Перейти</p>
        <img src="../../../assets/images/services__link.png" alt="" class="services__link-img">
    </a>
</div>

<hr class="news__hr">

<div class="question">
    <h3 class="question__title">Задать вопрос</h3>
    <div class="question__form">
        <input type="text" class="question__input-theme" placeholder="Тема вопроса">
        <textarea class="question__area" name="" id="" cols="30" rows="10" placeholder="Вопрос"></textarea>
    </div>
    <div class="question__data">
        <div class="question__data-item">
            <p class="question__data-title">Ваша фамилия *</p>
            <input type="text" class="question__data-input">
        </div>
        <div class="question__data-item">
            <p class="question__data-title">Ваше имя *</p>
            <input type="text" class="question__data-input">
        </div>
        <div class="question__data-item">
            <p class="question__data-title">Ваше отчество *</p>
            <input type="text" class="question__data-input">
        </div>
        <div class="question__data-item">
            <p class="question__data-title">E-mail *</p>
            <input type="text" class="question__data-input">
        </div>
        <div class="question__data-item">
            <p class="question__data-title">Номер телефона *</p>
            <input type="text" class="question__data-input">
        </div>
    </div>
    <div class="question__footer">
        <a href="" class="question__footer-send">Отправить</a>
        <a href="" class="question__footer-reset">Сбросить</a>
    </div>
</div>
