.profile__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #383636;
    margin-bottom: 25px;
}

.profile__title-hr {
    height: 0px;
    border: 1px solid #5044ae;
    margin-bottom: 44px;
    width: 40%;
}

.profile__links {
    width: 100%;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile__links-item {
    width: 13%;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #383636;
    padding-bottom: 15px;
    border-bottom: 1px solid #5044ae;
    transition: all 0.5s;
}

.profile__links-item--active {
    color: #5044ae;
}

.profile__links-item:hover {
    color: #5044ae;
    text-decoration-line: none;
}

.profile__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #383636;
    margin-bottom: 25px;
}

.profile__title-hr {
    height: 0px;
    border: 1px solid #5044ae;
    margin-bottom: 44px;
    width: 40%;
}

.profile__links {
    width: 100%;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile__links-item {
    width: 13%;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #383636;
    padding-bottom: 15px;
    border-bottom: 1px solid #5044ae;
    transition: all 0.5s;
}

.profile__links-item--active {
    color: #5044ae;
}

.profile__links-item:hover {
    color: #5044ae;
    text-decoration-line: none;
}

.emp__top {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emp__top-avatar {
    width: 20%;
}

.emp__top-avatar--img {
    width: 100%;
}

.emp__top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emp__top-info--name {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #383636;
    margin-bottom: 25px;
}

.emd__top-info--text {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383636;
}

.emd__top-info--text span {
    color: #5044ae;
}

.emp__top-btns {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emp__top-btn {
    width: auto;
    text-align: center;
    margin-bottom: 28px;
    padding: 11px 20px;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    background: #5044ae;
    border-radius: 15px;
    border: none;
}

.emp__hr {
    width: 90%;
    margin-bottom: 90px;
    height: 0px;
    border: 1px solid #383636;
    margin: 0 auto 90px;
}

.emp__groups {
    width: 100%;
    margin-bottom: 90px;
}

.emp__groups-item {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid #5044ae;
    box-shadow: 0px 4px 4px rgba(80, 68, 174, 0.25);
    border-radius: 15px;
    padding: 19px 27px;
}

.emp__groups-item-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #383636;
}

.emp__groups-item--btn {
    width: 25%;
    text-align: center;
    padding: 11px 20px;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
    background: #5044ae;
    border-radius: 15px;
    border: none;
}
