<div class="frame" style="margin-left: 100px">
    <div class="plashka"
        style="margin-left: 0px; width: 100%; margin-top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
        <p>Национальный проект "Экология"</p>
    </div>
    <div class="text" style="margin-left: 15px">
        <p>В Володарском районе реализауется региональный проект "Информационная инфраструктура", показателем
            результативности которого является "Обеспечение развития информационно-телекоммуникационной инфраструктуры
            объектов образовательных организаций". В текущем году в школе № 9 в п. Мулино проведен высокоскоростной
            Интернет, а также установлено оборудование для системы контроля управления доступом в здание школы.
            Реализация проекта осуществляется за счет средств областного бюджета в размере 512,8 тыс. рублей.</p>
        <p>Региональный проект "Комплексная система обращения с твердыми коммунальными отходами": с целью исполнения
            показателей проекта планируется обустроить 7 площадок в Мулинском сельсовете, Ильинском сельсовете,
            сельсовете Красная Горка. Заключены муниципальные контракты на выполнение работ по обустройству контейнерных
            площадок на сумму 824,5 тыс. рублей и на поставку контейнеров для накопления твердых коммунальных отходов на
            сумму 294,3 тыс. рублей.</p>
        <p>В целях формирования экологической культуры населения в районе проводится акция "Собирай раздельно" по
            организации сбора отработанных батареек, пластиковых крышек и бутылок.</p>
    </div>
</div>