<div class="prof__top">
    <h2 class="main__title">Выбор профессии</h2>
    <hr class="main__hr">

    <div class="prof__top-item">
        <img src="../../../assets/images/prof/prof__top-bg-one.png" alt="" class="prof__top-bg">
        <div class="prof__top-infolist">
            <h3 class="prof__top-title">Поможем выбрать профессию мечты и успешно поступить</h3>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Определитесь с будущей профессией и специальностью </span>
            </p>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Подберете подходящие вузы, колледжи и программы</span>
            </p>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Составите пошаговый план поступления и подготовки</span>
            </p>
            <a class="prof__top-link" [routerLink]="['', 'system', 'profession']">Подробнее</a>
        </div>
    </div>

    <h2 class="main__title">Тесты</h2>
    <hr class="main__hr">

    <div class="prof__top-item">
        <img src="../../../assets/images/prof/prof__top-bg-two.png" alt="" class="prof__top-bg">
        <div class="prof__top-infolist">
            <h3 class="prof__top-title">Психологические тесты для определения типа личности и профессиональных
                склонностей</h3>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Выявите свои индивидуальные особенности личности </span>
            </p>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Подберите подходящий для вас вид деятельности</span>
            </p>
            <p class="prof__top-info">
                <img src="../../../assets/images/prof/prof__top-info.png" alt="" class="prof__top-info--img">
                <span> Разберитесь в собственных чувствах</span>
            </p>
            <a class="prof__top-link" [routerLink]="['', 'system', 'tests']">Пройти</a>
        </div>
    </div>
</div>

<div class="activity">
    <h2 class="main__title">Мероприятия</h2>
    <hr class="main__hr">

    <div class="activity__top">
        <div class="activity__top-item">
            <a href="" class="activity__top-link">
                <img class="activity__top-bg" src="../../../assets/images/prof/activity__top-one.png" alt="">
                <p class="activity__top-title">
                    <img src="../../../assets/images/prof/activity__top-title-one.png" alt=""
                        class="activity__top-title--img">
                    <span>Дни открытых дверей</span>
                </p>
            </a>
        </div>

        <div class="activity__top-item">
            <a class="activity__top-link" [routerLink]="['', 'system', 'excursion']">
                <img class="activity__top-bg" src="../../../assets/images/prof/activity__top-two.png" alt="">
                <p class="activity__top-title">
                    <img src="../../../assets/images/prof/activity__top-title-two.png" alt=""
                        class="activity__top-title--img">
                    <span>Онлайн - экскурсии, экскурсии на предприятия</span>
                </p>
            </a>
        </div>

        <div class="activity__top-item">
            <a href="" class="activity__top-link">
                <img class="activity__top-bg" src="../../../assets/images/prof/activity__top-three.png" alt="">
                <p class="activity__top-title">
                    <img src="../../../assets/images/prof/activity__top-title-three.png" alt=""
                        class="activity__top-title--img">
                    <span>Мастер-классы на предприятиях</span>
                </p>
            </a>
        </div>
    </div>

    <div class="activity__main">
        <div class="activity__main-item">
            <a href="" class="activity__main-link">
                <img class="activity__main-bg" src="../../../assets/images/prof/activity__main-one.png" alt="">
                <p class="activity__main-title">
                    <img src="../../../assets/images/prof/activity__main-title-one.png" alt=""
                        class="activity__main-title--img">
                    <span>Встречи с представителями различных профессий</span>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="education">
    <h2 class="main__title">Обучение</h2>
    <hr class="main__hr">

    <div class="education__search">
        <select name="" id="" class="education__search-select">
            <option value="" class="edication__search-select--option">Вид образования</option>
            <option value="" class="edication__search-select--option">ВУЗы</option>
            <option value="" class="edication__search-select--option">Колледжи</option>
            <option value="" class="edication__search-select--option">Второе высшее</option>
            <option value="" class="edication__search-select--option">Магистратура</option>
            <option value="" class="edication__search-select--option">Аспирантура</option>
            <option value="" class="edication__search-select--option">Курсы</option>
            <option value="" class="edication__search-select--option">Тренинги и семинары</option>
            <option value="" class="edication__search-select--option">Программы MBA</option>
            <option value="" class="edication__search-select--option">Школы</option>
            <option value="" class="edication__search-select--option">Курсы для детей</option>
            <option value="" class="edication__search-select--option">Обучение за рубежом</option>
        </select>
        <input type="text" class="education__search-input" placeholder="Направление обучения или учебное заведение">
        <button class="education__search-input--btn">Найти</button>
    </div>

    <div class="education__filters">
        <button class="education__filters-item">Специальности</button>
        <button class="education__filters-item">Условия обучения</button>
        <button class="education__filters-item">Расположение</button>
    </div>

    <div class="education__list">
        <div class="education__list-item education__list-item--one">
            <img src="../../../assets/images/prof/education__list-item--one.png" alt=""
                class="education__list-item--img">
            <div class="education__list-info">
                <p class="education__list-info--title">Старшекласснику и абитуриенту</p>
                <div class="education__list-infobot">
                    <a class="education__list-infobot--text">
                        Вузы
                    </a>
                    <a class="education__list-infobot--text">
                        Колледжи
                    </a>
                    <a class="education__list-infobot--text">
                        Специальности
                    </a>
                    <a class="education__list-infobot--text">
                        Подготовка к ЕГЭ
                    </a>
                    <a class="education__list-infobot--text">
                        Дни открытых дверей
                    </a>
                </div>
            </div>
        </div>

        <div class="education__list-item education__list-item--two">
            <img src="../../../assets/images/prof/education__list-item--two.png" alt=""
                class="education__list-item--img">
            <div class="education__list-info">
                <p class="education__list-info--title">Обучение для взрослых</p>
                <div class="education__list-infobot">
                    <a class="education__list-infobot--text">
                        <span>Курсы</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Тренинги и семинары</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Второе высшее</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Программы МВА</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Магистратура</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="education__list-item education__list-item--three">
            <img src="../../../assets/images/prof/education__list-item--three.png" alt=""
                class="education__list-item--img">
            <div class="education__list-info">
                <p class="education__list-info--title">Образование для детей</p>
                <div class="education__list-infobot">
                    <a class="education__list-infobot--text">
                        <span>Школы</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Программы для детей</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Статьи и образование</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="education__list-item education__list-item--four">
            <img src="../../../assets/images/prof/education__list-item--four.png" alt=""
                class="education__list-item--img">
            <div class="education__list-info">
                <p class="education__list-info--title">Обучение за рубежом</p>
                <div class="education__list-infobot">
                    <a class="education__list-infobot--text">
                        <span>Учебные заведения</span>
                    </a>
                    <a class="education__list-infobot--text">
                        <span>Статьи и обзоры</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="education__hr">

    <div class="education__news">
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-one.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                Инструкция: как организовать поступление в бакалавриат или магистратуру в Италии
            </p>
            <p class="education__news-item--text">
                Сложно ли поступить на учебу в Италию? Какие документы для подачи нужны? Чем отличается итальянская
                система об
            </p>
        </a>
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-two.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                Математика для школьников
            </p>
            <p class="education__news-item--text">
                Зачем посещать математические кружки?
            </p>
        </a>
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-three.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                Естественная среда общения: иностранный язык без зубрежки
            </p>
            <p class="education__news-item--text">
                Разбираем методики и программы
            </p>
        </a>
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-four.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                Как поступить на IT-факультет ведущего вуза
            </p>
            <p class="education__news-item--text">
                Руководство для школьников и их родителей
            </p>
        </a>
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-five.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                Подготовка к ЕГЭ: онлайн-школа или репетитор?
            </p>
            <p class="education__news-item--text">
                Выбираем оптимальный вариант обучения
            </p>
        </a>
        <a class="education__news-item">
            <img src="../../../assets/images/prof/education__news-six.png" alt="" class="education__news-item--img">
            <p class="education__news-item--title">
                На что обращать внимание при выборе колледжа?
            </p>
            <p class="education__news-item--text">
                Важные критерии: чек-лист для абитуриента
            </p>
        </a>
    </div>
</div>