.container {
    max-width: 1550px;
}

.title {
    font-size: 48px;
    color: #383636;
    text-align: center;
  margin-top: 60px;
}

.frametitle {
    font-weight: bolder;
    font-size: 32px;
    color: #383636;
    text-align: center;
}

.frame {
    width: 1350px;
    margin-top: 30px;
    position: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: gray;
}

.leftframe {
    width: 750px;
    margin-top: 30px;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: gray;
    float: left;
}

.rightframe {
    width: 750px;
    margin-top: 30px;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: gray;
    float: right;
}

.inframe {
    text-align: center;
    font-size: 25px;
    max-width: 700px;
    background: rgba(80, 68, 174, 1);
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    color: #ffffff;
}

.plashka {
    margin-left: 85px;
    margin-top: 35px;
    align-self: center;
    text-align: center;
    font-size: 25px;
    width: 1320px;
    background: rgba(80, 68, 174, 1);
    border-radius: 20px;
    padding: 15px;
    color: #ffffff;
}

.leftplashka {
    text-align: center;
    font-size: 25px;
    width: 670px;
    background: rgba(80, 68, 174, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    color: #ffffff;
    float: left;
}

.rightplashka {
    text-align: center;
    font-size: 25px;
    width: 670px;
    background: rgba(80, 68, 174, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    color: #ffffff;
    float: right;
}

.rightplashka {
    margin-right: 50px;
    float: right;
}

.leftplashimg {
    margin-left: 50px;
    float: left;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.text {
    font-size: 25px;
    color: #383636;
}

.national__list {
    width: 100%;
    margin-bottom: 90px;
}

.national__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.national__top-item {
    position: relative;
    width: 49%;
    margin-bottom: 5px;
}

.national__footer-item {
    position: relative;
    margin-bottom: 5px;
    display: block;
}

.national__top-item--img,
.national__footer-item--img {
    width: 100%;
}

.national__top-item--title,
.national__footer-item--title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
}

.national__top-item:hover .national__top-item--title,
.national__footer-item:hover .national__footer-item--title {
    color: #ffffff;
}

.national__top-item--title-img,
.national__footer-item--title-img {
    width: 37px;
    height: 37px;
    margin-right: 12px;
}
