<p class="title">Национальные проекты для улучшения качества жизни</p>

<div class="national__list">
    <div class="national__top">
        <a [routerLink]="['', 'system', 'national-projects', 'project-ecology']" class="national__top-item">
            <img src="../../../assets/images/national-projects/national-projects-one.png" alt=""
                class="national__top-item--img">
            <p class="national__top-item--title">
                <img src="../../../assets/images/national-projects/national-projects-item-one.png" alt=""
                    class="national__top-item--title-img">
                Национальный проект "Экология"
            </p>
        </a>
        <a [routerLink]="['', 'system', 'national-projects', 'project-culture']" class="national__top-item">
            <img src="../../../assets/images/national-projects/national-projects-two.png" alt=""
                class="national__top-item--img">
            <p class="national__top-item--title">
                <img src="../../../assets/images/national-projects/national-projects-item-two.png" alt=""
                    class="national__top-item--title-img">
                Национальный проект "Культура"
            </p>
        </a>
        <a [routerLink]="['', 'system', 'national-projects', 'project-education']" class="national__top-item">
            <img src="../../../assets/images/national-projects/national-projects-three.png" alt=""
                class="national__top-item--img">
            <p class="national__top-item--title">
                <img src="../../../assets/images/national-projects/national-projects-item-three.png" alt=""
                    class="national__top-item--title-img">
                Национальный проект "Образование"
            </p>
        </a>
        <a [routerLink]="['', 'system', 'national-projects', 'project-city']" class="national__top-item">
            <img src="../../../assets/images/national-projects/national-projects-four.png" alt=""
                class="national__top-item--img">
            <p class="national__top-item--title">
                <img src="../../../assets/images/national-projects/national-projects-item-four.png" alt=""
                    class="national__top-item--title-img">
                Национальный проект "Жилье и городская среда"
            </p>
        </a>
    </div>
    <a [routerLink]="['', 'system', 'national-projects', 'project-digital']" class="national__footer-item">
        <img src="../../../assets/images/national-projects/national-projects-five.png" alt=""
            class="national__footer-item--img">
        <p class="national__footer-item--title">
            <img src="../../../assets/images/national-projects/national-projects-item-five.png" alt=""
                class="national__footer-item--title-img">
            Национальный проект "Цифровая инфраструктура"
        </p>
    </a>
</div>
