<div class="business__top">
    <a class="business__top-item" [routerLink]="['', 'system', 'business-conditions']">
        <img src="../../../assets/images/business/busines__top-one.png" alt="" class="business__top-img">
        <p class="business__top-title">
            <img src="../../../assets/images/business/business__top-title-one.png" alt=""
                class="business__top-title--img">
            <span class="business__top-title-text">Поддержка малого и среднего бизнеса</span>
        </p>
    </a>
    <a class="business__top-item" [routerLink]="['', 'system', 'investments']">
        <img src="../../../assets/images/business/busines__top-two.png" alt="" class="business__top-img">
        <p class="business__top-title">
            <img src="../../../assets/images/business/business__top-title-two.png" alt=""
                class="business__top-title--img">
            <span class="business__top-title-text">Площадки для бизнеса</span>
        </p>
    </a>
</div>

<div class="business__main">
    <a class="business__main-item" [routerLink]="['', 'system', 'work-group']">
        <img src="../../../assets/images/business/business__main-one.png" alt="" class="business__main-img">
        <p class="business__main-title">
            <img src="../../../assets/images/business/business__main-title-one.png" alt=""
                class="business__main-title--img">
            <span class="business__main-title-text">Имущество от муниципалитета</span>
        </p>
    </a>
    <a class="business__main-item"
        href='https://www.nn-invest.ru/static/build/upload/files/Путеводитель%20инвестора%202021.pdf'>
        <img src="../../../assets/images/business/business__main-two.png" alt="" class="business__main-img">
        <p class="business__main-title">
            <img src="../../../assets/images/business/business__main-title-two.png" alt=""
                class="business__main-title--img">
            <span class="business__main-title-text">Путеводитель инвестора, субъекта МСП</span>
        </p>
    </a>
</div>