<h1>Отчеты о работе отдела экономики администрации Володарского района</h1>

<div class="block">
    <div>
        Отчет отдела экономики администрации Володарского муниципального района за 2019 год
    </div>
    <a href="http://volodarsk.omsu-nnov.ru/?id=258494&&download=1" class="link"><img
            src="../../../assets/images/document.png" alt=""></a>
</div>
<div class="block">
    <div>
        Отчет отдела экономики администрации Володарского муниципального района за 2018 год
    </div>
    <a href="http://volodarsk.omsu-nnov.ru/?id=215110&&download=1" class="link"><img
            src="../../../assets/images/document.png" alt=""></a>
</div>
<div class="block">
    <div>
        Отчет о работе отдела экономики за 2017 год
    </div>
    <a href="http://volodarsk.omsu-nnov.ru/?id=171357&&download=1" class="link"><img
            src="../../../assets/images/document.png" alt=""></a>
</div>
<div class="block">
    <div>
        Отчет о работе отдела экономики за 2016 год
    </div>
    <a href="http://volodarsk.omsu-nnov.ru/?id=132057&&download=1" class="link"><img
            src="../../../assets/images/document.png" alt=""></a>
</div>
<div class="block">
    <div>
        Отчет о работе отдела экономики за 2015 год
    </div>
    <a href="http://volodarsk.omsu-nnov.ru/?id=132060&&download=1" class="link"><img
            src="../../../assets/images/document.png" alt=""></a>
</div>