<p class="title">Здравоохранение</p>
<ul class="list">
    <li class="list__items">
        <a href="http://volodarsk-crb.zdrav-nnov.ru" class="list__link">
            <div class="leftplashka">ГБУЗ НО "Володарская центральная районная больница"</div>
            <img src="../../../../assets/soc-sphere/bolnitsa.jpg" alt="" class="" width="100%">
        </a>
    </li>
    <li class="list__items">
        <a href="http://antispidnn.ru" class="list__link">
            <div class="rightplashka">ГБУЗ НО «НОЦ СПИД»</div>
            <img src="../../../../assets/soc-sphere/spid.png" alt="" class="" width="700" height="393.75">
        </a>
    </li>
</ul>

<p class="title"></p>
<div class="list-footer">
    <p class="plashka">Карта здравоохранения Володарского р-на</p>
    <img src="../../../../assets/soc-sphere/geogr_zdrav.jpg">
</div>