<H1>Сотрудники финансового управления
    администрации Володарского муниципального района</H1>
<table class="employee">
    <tr>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Телефон</th>
    </tr>
    <tr>
        <td class="first">Винокурова Ольга Александровна</td>
        <td class="second">Начальник управления</td>
        <td class="trith">4-12-63</td>
    </tr>
    <tr>
        <td class="first">Соколов Дмитрий Валерьевич</td>
        <td class="second">Администратор сети</td>
        <td class="trith">4-09-15</td>
    </tr>
    <tr>
        <td class="first">Кабанина Надежда Владимировна</td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-12-63</td>
    </tr>
</table>
<table class="department plane">
    <tr>
        <th colspan="3">Отдел планирования и анализа исполнения расходов бюджета</th>
    </tr>
    <tr>
        <td class="first">Титова Наталья Вячеславовна </td>
        <td class="second">Заместитель начальника управления – начальник отдела</td>
        <td class="trith">4-14-89</td>
    </tr>
    <tr>
        <td class="first">Киселева Мария Олеговна</td>
        <td class="second">Главный специалист</td>
        <td class="trith">4-14-89</td>
    </tr>
    <tr>
        <td class="first">Капралов Дмитрий Николаевич</td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-14-89</td>
    </tr>
    <tr>
        <td class="first">Зверева Марина Александровна</td>
        <td class="second">Консультант</td>
        <td class="trith">4-11-95</td>
    </tr>
    <tr>
        <td class="first">Дороничева Наталия Вячеславовна</td>
        <td class="second">Главный специалист</td>
        <td class="trith">4-11-95</td>
    </tr>
    <tr>
        <td class="first">Бардина Наталья Павловна </td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-11-95</td>
    </tr>

</table>
<table class="department consolidation">
    <tr>
        <th colspan="3">Отдел консолидированной отчетности и методологии бюджетного учета</th>
    </tr>
    <tr>
        <td class="first">Апанасенко Светлана Александровна </td>
        <td class="second">Начальник отдела (главный бухгалтер) </td>
        <td class="trith">4-11-88</td>
    </tr>
    <tr>
        <td class="first">Кузнецова Ольга Николаевна </td>
        <td class="second">Заместитель начальника отдела </td>
        <td class="trith">4-11-88</td>
    </tr>
    <tr>
        <td class="first">Хиженкова Оксана Георгиевна </td>
        <td class="second">Консультант </td>
        <td class="trith">4-11-88</td>
    </tr>
    <tr>
        <td class="first">Лосева Евгения Владимировна</td>
        <td class="second">Консультант </td>
        <td class="trith">4-11-88</td>
    </tr>
    <tr>
        <td class="first">Кривоногова Оксана Фёдоровна </td>
        <td class="second">Главный специалист </td>
        <td class="trith">4-11-95</td>
    </tr>
    <tr>
        <td class="first">Михеева Ана Викторовна </td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-11-88</td>
    </tr>
    <tr>
        <td class="first">Савушина Екатерина Алексеевна </td>
        <td class="second">Ведущий специалист </td>
        <td class="trith">4-14-89</td>
    </tr>
</table>
<table class="department process">
    <tr>
        <th colspan="3">Отдел планирования и анализа исполнения доходов бюджета</th>
    </tr>
    <tr>
        <td class="first">Ковалева Наталья Александровна </td>
        <td class="second">Заместитель начальника управления – начальник отдела </td>
        <td class="trith">4-18-40</td>
    </tr>
    <tr>
        <td class="first">Шемякина Надежда Вячеславовна </td>
        <td class="second">Главный специалист </td>
        <td class="trith">4-18-40</td>
    </tr>
    <tr>
        <td class="first">Ежова Наталья Александровна</td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-18-40</td>
    </tr>
    <tr>
        <td class="first">Надёжкина Ольга Владимировна</td>
        <td class="second">Ведущий специалист</td>
        <td class="trith">4-18-40</td>
    </tr>
</table>
<table class="department execution">
    <tr>
        <th colspan="3">Отдел казначейского исполнения районного бюджета</th>
    </tr>
    <tr>
        <td class="first">Попков Евгений Викторович </td>
        <td class="second">Начальник отдела </td>
        <td class="trith">4-05-29</td>
    </tr>
    <tr>
        <td class="first">Кутырёва Татьяна Андреевна </td>
        <td class="second">Главный специалист </td>
        <td class="trith">4-05-29</td>
    </tr>
    <tr>
        <td class="first">Грушина Кристина Владимировна </td>
        <td class="second">Ведущий специалист </td>
        <td class="trith">4-05-29</td>
    </tr>
    <tr>
        <td class="first">Поварова Елена Сергеевна </td>
        <td class="second">Ведущий специалист </td>
        <td class="trith">4-05-29</td>
    </tr>
</table>