<h2 class="main__title">Володарск в цифрах</h2>
<hr class="main__hr">

<ul class="main__list">
    <div class="main__list-wrapper--top">
        <li class="main__list-item main__list-one">
            <a class="main__list-link" [routerLink]="['', 'system', 'project-table']">
                <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-one.png" alt="">
                <p class="main__list-title">
                    <img src="../../../assets/images/in_numbers/main__list-title-one.png" alt=""
                        class="main__list-title--img">
                    <span>Финансы</span>
                </p>
            </a>
        </li>

        <div class="main__list-wrapper--topright">
            <div class="main__list-wrapper-topright-inner">
                <li class="main__list-item main__list-two">
                    <a class="main__list-link" [routerLink]="['', 'system', 'economic']">
                        <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-two.png" alt="">
                        <p class="main__list-title">
                            <img src="../../../assets/images/in_numbers/main__list-title-two.png" alt=""
                                class="main__list-title--img">
                            <span>Экономика</span>
                        </p>
                    </a>
                </li>

                <li class="main__list-item main__list-three">
                    <a class="main__list-link" [routerLink]="['', 'system', 'investments']">
                        <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-three.png" alt="">
                        <p class="main__list-title">
                            <img src="../../../assets/images/in_numbers/main__list-title-three.png" alt=""
                                class="main__list-title--img">
                            <span>Инвестиции</span>
                        </p>
                    </a>
                </li>
            </div>

            <div class="main__list-wrapper-topright-inner">
                <li class="main__list-item main__list-four">
                    <a class="main__list-link" [routerLink]="['', 'system', 'transport']">
                        <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-four.png" alt="">
                        <p class="main__list-title">
                            <img src="../../../assets/images/in_numbers/main__list-title-four.png" alt=""
                                class="main__list-title--img">
                            <span>Транспорт</span>
                        </p>
                    </a>
                </li>

                <li class="main__list-item main__list-five">
                    <a class="main__list-link" [routerLink]="['', 'system', 'ecology']">
                        <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-five.png" alt="">
                        <p class="main__list-title">
                            <img src="../../../assets/images/in_numbers/main__list-title-five.png" alt=""
                                class="main__list-title--img">
                            <span>Экология</span>
                        </p>
                    </a>
                </li>
            </div>
        </div>
    </div>

    <div class="main__list-wrapper--footer">
        <li class="main__list-item main__list-six">
            <a class="main__list-link" [routerLink]="['', 'system', 'business-conditions']">
                <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-six.png" alt="">
                <p class="main__list-title">
                    <img src="../../../assets/images/in_numbers/main__list-title-six.png" alt=""
                        class="main__list-title--img">
                    <span>Условия для бизнеса</span>
                </p>
            </a>
        </li>

        <li class="main__list-item main__list-seven">
            <a class="main__list-link" [routerLink]="['', 'system', 'industry-report']">
                <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-seven.png" alt="">
                <p class="main__list-title">
                    <img src="../../../assets/images/in_numbers/main__list-title-seven.png" alt=""
                        class="main__list-title--img">
                    <span>Отраслевые отчеты</span>
                </p>
            </a>
        </li>

        <li class="main__list-item main__list-eight">
            <a class="main__list-link" [routerLink]="['', 'system', 'national-projects', 'projects']">
                <img class="main__list-bg" src="../../../assets/images/in_numbers/main__list-eight.png" alt="">
                <p class="main__list-title">
                    <img src="../../../assets/images/in_numbers/main__list-title-eight.png" alt=""
                        class="main__list-title--img">
                    <span>Качество жизни</span>
                </p>
            </a>
        </li>
    </div>

</ul>

<h2 class="main__title">Инвестиционная карта</h2>

<hr class="main__hr">

<div class="main__map">
    <!-- <map-root></map-root> -->
</div>

<h2 class="main__title">Ключевые проекты Володарского муниципального района</h2>
<hr class="main__hr">

<div class="main__projects">
    <div class="main__projects-item main__projects-one">
        <a class="main__projects-link" [routerLink]="['', 'system', 'soc-sphere', 'soc-sphere-page']">
            <img class="main__projects-bg" src="../../../assets/images/in_numbers/projects/main__projects-bg-one.png"
                alt="">
            <p class="main__projects-title">
                <img src="../../../assets/images/in_numbers/projects/main__projects-title-one.png" alt=""
                    class="main__projects-title--img">
                <span>Социальная сфера</span>
            </p>
        </a>
    </div>
    <div class="main__projects-wrapper--right">
        <div class="main__projects-wrapper--right-inner">
            <div class="main__projects-item main__projects-two">
                <a class="main__projects-link" [routerLink]="['', 'system', '']">
                    <img class="main__projects-bg"
                        src="../../../assets/images/in_numbers/projects/main__projects-bg-two.png" alt="">
                    <p class="main__projects-title">
                        <img src="../../../assets/images/in_numbers/projects/main__projects-title-two.png" alt=""
                            class="main__projects-title--img">
                        <span>Транспорт</span>
                    </p>
                </a>
            </div>
            <div class="main__projects-item main__projects-three">
                <a class="main__projects-link" [routerLink]="['', 'system', '']">
                    <img class="main__projects-bg"
                        src="../../../assets/images/in_numbers/projects/main__projects-bg-three.png" alt="">
                    <p class="main__projects-title">
                        <img src="../../../assets/images/in_numbers/projects/main__projects-title-three.png" alt=""
                            class="main__projects-title--img">
                        <span>Промышленность и высокие технологии</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="main__projects-wrapper--right-inner">
            <div class="main__projects-item main__projects-four">
                <a class="main__projects-link" [routerLink]="['', 'system', 'investments']">
                    <img class="main__projects-bg"
                        src="../../../assets/images/in_numbers/projects/main__projects-bg-four.png" alt="">
                    <p class="main__projects-title">
                        <img src="../../../assets/images/in_numbers/projects/main__projects-title-four.png" alt=""
                            class="main__projects-title--img">
                        <span>Бизнес-инфраструктура</span>
                    </p>
                </a>
            </div>
            <div class="main__projects-item main__projects-five">
                <a class="main__projects-link" [routerLink]="['', 'system', 'sport']">
                    <img class="main__projects-bg"
                        src="../../../assets/images/in_numbers/projects/main__projects-bg-five.png" alt="">
                    <p class="main__projects-title">
                        <img src="../../../assets/images/in_numbers/projects/main__projects-title-five.png" alt=""
                            class="main__projects-title--img">
                        <span>Спорт</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<h2 class="main__title">Предприятия и индивидуальные предприниматели муниципалитета</h2>
<hr class="main__hr">

<div class="main__enterprises">
    <div class="main__enterprises-item">
        <img src="../../../assets/images/in_numbers/projects/main__enterprises-bg-one.png" alt=""
            class="main__enterprises-bg">
        <div class="main__enterprises-infolist">
            <h3 class="main__enterprises-title">ОАО Агрофирма «Птицефабрика Сеймовская»</h3>
            <p class="main__enterprises-info">Объемы производства:
                <span> 24223 </span> г/д
            </p>
            <p class="main__enterprises-info">Проводятся онлайн-экскурсии:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Проводятся мастер-классы:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Сайт:
                <span> SeymonovsKur.ru</span>
            </p>
            <p class="main__enterprises-info">Почта:
                <span> seymonovsk@gmail.com</span>
            </p>
            <p class="main__enterprises-info">Номер телефона:
                <span> 8(920)-298-9129</span>
            </p>
        </div>
    </div>

    <div class="main__enterprises-item">
        <img src="../../../assets/images/in_numbers/projects/main__enterprises-bg-two.png" alt=""
            class="main__enterprises-bg">
        <div class="main__enterprises-infolist">
            <h3 class="main__enterprises-title">ООО «Море молока»</h3>
            <p class="main__enterprises-info">Объемы производства:
                <span> 24223 </span> г/д
            </p>
            <p class="main__enterprises-info">Проводятся онлайн-экскурсии:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Проводятся мастер-классы:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Сайт:
                <span> moloko.ru</span>
            </p>
            <p class="main__enterprises-info">Почта:
                <span> moloko@gmail.com</span>
            </p>
            <p class="main__enterprises-info">Номер телефона:
                <span> 8(920)-298-9129</span>
            </p>
        </div>
    </div>

    <div class="main__enterprises-item">
        <img src="../../../assets/images/in_numbers/projects/main__enterprises-bg-three.png" alt=""
            class="main__enterprises-bg">
        <div class="main__enterprises-infolist">
            <h3 class="main__enterprises-title">ООО «Мукомольный комбинат «Володарский»</h3>
            <p class="main__enterprises-info">Объемы производства:
                <span> 24223 </span> г/д
            </p>
            <p class="main__enterprises-info">Проводятся онлайн-экскурсии:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Проводятся мастер-классы:
                <span> да</span>
            </p>
            <p class="main__enterprises-info">Сайт:
                <span> mukka.ru</span>
            </p>
            <p class="main__enterprises-info">Почта:
                <span> mukka@gmail.com</span>
            </p>
            <p class="main__enterprises-info">Номер телефона:
                <span> 8(920)-298-9129</span>
            </p>
        </div>
    </div>

    <a class="main__enterprises__link" [routerLink]="['', 'system', 'manufacture']">Все предприятия</a>
</div>

<h2 class="main__title">Уникальные производства</h2>
<hr class="main__hr">

<div class="main__production">
    <a class="main__production-item" [routerLink]="['', 'system', 'prof']">
        <img src="../../../assets/images/in_numbers/main__production-one.png" alt="" class="main__production-img">
        <p class="main__production-title">
            <img src="../../../assets/images/in_numbers/main__production-title-one.png" alt=""
                class="main__production-title--img">
            <span>Онлайн-экскурсии</span>
        </p>
    </a>

    <a class="main__production-item" [routerLink]="['', 'system', 'prof']">
        <img src="../../../assets/images/in_numbers/main__production-two.png" alt="" class="main__production-img">
        <p class="main__production-title">
            <img src="../../../assets/images/in_numbers/main__production-title-two.png" alt=""
                class="main__production-title--img">
            <span>Мастер-классы на предприятиях</span>
        </p>
    </a>
</div>