<div class="frame" style="margin-left: 100px">
    <div class="plashka"
        style="margin-left: 0px; width: 100%; margin-top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
        <p>Национальный проект "Цифровая инфраструктура"</p>
    </div>
    <div class="text" style="margin-left: 15px">
        <p>В Володарском районе реализауется региональный проект "Информационная инфраструктура", показателем
            результативности которого является "Обеспечение развития информационно-телекоммуникационной инфраструктуры
            объектов образовательных организаций". В текущем году в школе № 9 в п. Мулино проведен высокоскоростной
            Интернет, а также установлено оборудование для системы контроля управления доступом в здание школы.
            Реализация проекта осуществляется за счет средств областного бюджета в размере 512,8 тыс. рублей.</p>
    </div>
</div>