<div class="main__top">
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'social']">
            <img src="../../../assets/images/economics-one.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Отчеты о работе отдела экономики администрации Володарского района</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'social']">
            <img src="../../../assets/images/economics-two.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Проект постановления администрации Володарского муниципального района
                Нижегородской области «О прогнозе социально-экономического развития Володарского муниципального района
                Нижегородской области на 2017 год и на период до 2019 года»</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'social']">
            <img src="../../../assets/images/economics-one.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Информация о социально-экономическом состоянии Володарского муниципального
                района</p>
        </a>
    </div>

    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/economics-two.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Доклады о достигнутых значениях показателей для оценки эффективности
                деятельности ОМСУ</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/economics-one.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">Федеральное статистическое наблюдение (затраты-выпуск)</p>
        </a>
    </div>
    <div class="main__top-menu">
        <a class="main__top-menu--link" [routerLink]="['', 'system', 'departament']">
            <img src="../../../assets/images/economics-two.png" alt="" class="main__top-menu--img">
            <p class="main__top-menu--title">
                Монопрофильные муниципальные образования Володарского муниципального района
            </p>
        </a>
    </div>
</div>