<div class="frame" style="margin-left: 100px">
    <div class="plashka"
        style="margin-left: 0px; width: 100%; margin-top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
        <p>Национальный проект "Образование"</p>
    </div>
    <div class="text" style="margin-left: 15px">
        <p>В рамках регионального проекта "Современная школа" в сельской местности открываются Центры "Точка роста". В
            текущем году состоялось открытие второго в Володарском районе Центра образования цифрового и гуманитарного
            профилей "Точка роста" в г. Володарск на базе средней школы № 10. В Центр зачислено 356 детей. Для
            подготовки Центра за счет средств местного бюджета выполнен ремонт помещений на сумму 1102,6 тыс. руб. На
            приобретение основных средств и содержание "Точки роста" из областного бюджета были выделены ассигнования в
            размере 910,2 тыс. рублей.</p>
        <p>Показателем регионального проекта "Цифровая образовательная среда" является внедрение целевой модели цифровой
            образовательной среды в общеобразовательных и профессиональных образовательных организациях.</p>
        <p>Создание цифровой образовательной среды подразумевает одновременное использование единой электронной системы
            и традиционного подхода к обучению. Такой шаг должен сделать образование более доступным и качественным за
            счет внедрения современных технологий.</p>
        <p>В текущем году внедрены целевые модели цифровой образовательной среды в школах № 1 г. Володарск и № 4 п.
            Юганец, создано 60 автоматизированных рабочих мест учащихся, выполнен ремонт помещений, осуществлено
            брендирование: размещение фирменного стиля цифровой образовательной среды учебных кабинетов, на что из
            местного бюджета было направлено 128,2 тыс. рублей и 52,6 тыс. рублей из средств депутата Законодательного
            Собрания.</p>
        <p>Региональный проект "Успех каждого ребенка" включает в себя обновление материально-технической базы для
            занятий физической культурой и спортом в сельских школах. В 2020 году в п. Новосмолинский на базе средней
            школы № 8 оборудована плоскостная уличная спортивная площадка, на которой установлен детский
            спортивно-игровой городок, 16 уличных тренажеров, военизированная полоса препятствий, заменены баскетбольные
            щиты. Общая сумма проекта составила 2 млн. рублей, в том числе 1 млн. рублей – средства местного бюджета.
        </p>
        <p>Кроме того, в результате победы школы № 8 во всероссийской акции "Добро не уходит на каникулы"
            образовательная организация получила грант в размере 375 тыс. руб., средства которого были направлены на
            оборудование покрытия беговой дорожки и футбольного поля на школьном стадионе.</p>
        <p>В рамках государственной программы "Капитальный ремонт образовательных учреждений" выполнен капитальный
            ремонт кровли школы № 8 в п. Новосмолинский на 10 млн. рублей, капитальный ремонт фасада и благоустройство
            территории детского сада № 6 в п. Ильиногорск на сумму 13,6 млн. рублей.</p>
        <p>Региональный проект "Поддержка семей, имеющих детей" предусматривает оказание услуг психолого-педагогической,
            методической и консультативной помощи родителям детей. На базе дошкольных образовательных организаций
            создано 11 консультационных центров, которыми в 2020 году оказано 2000 консультаций. В образовательных
            учреждениях организована работа узких специалистов: педагогов-психологов, учителей-логопедов,
            олигофренопедагогов, социальных педагогов, которые оказывают консультации семьям, имеющим детей, в том числе
            с ограниченными возможностями здоровья.</p>
        <p>Региональный проект "Учитель будущего" направлен на повышение профессионального уровня педагогических
            работников в формате непрерывного образования. В 2020 году по инновационной программе повышения квалификации
            "Применение современных информационно-коммуникационных и цифровых технологий в условиях функционирования
            цифровой образовательной среды" обучены все педагоги, работающие в Цифровой образовательной среде. Также в
            2020 году педагогические работники общеобразовательных школ прошли переподготовку по программе
            "Дистанционное обучение: от создания контента до организации образовательного процесса".</p>
    </div>
</div>