<div class="statistic">
    <div class="statistic__left">
        <div class="statistic__left-item">
            <div class="statistic__left-item--percent">30%</div>
            <p class="statistic__left-item--text">молодых специалистов не могут найти работу
            </p>
        </div>
        <div class="statistic__left-item">
            <div class="statistic__left-item--percent">50%</div>
            <p class="statistic__left-item--text">выпускников российских вузов и колледжей работают не по специальности>
            </p>
        </div>
        <div class="statistic__left-item">
            <div class="statistic__left-item--percent">70%</div>
            <p class="statistic__left-item--text">людей недовольны профессией и чувствуют себя несчастными на работе
            </p>
        </div>
    </div>

    <div class="statistic__right">
        <h3 class="statistic__right-title">Запишитесь на программу — и вы не попадете в эту статистику!</h3>
        <p class="statistic__right-li">
            <img src="../../../assets/images/profession/statistic__right-li.png" alt=""
                class="statistic__right-li--img">
            <span>Определитесь с будущей профессией и специальностью</span>
        </p>
        <p class="statistic__right-li">
            <img src="../../../assets/images/profession/statistic__right-li.png" alt=""
                class="statistic__right-li--img">
            <span>Подберете подходящие вузы, колледжи и программы</span>
        </p>
        <p class="statistic__right-li">
            <img src="../../../assets/images/profession/statistic__right-li.png" alt=""
                class="statistic__right-li--img">
            <span>Составите пошаговый план поступления и подготовки</span>
        </p>
        <a href="" class="statistic__right-link">Отправить заявку</a>
    </div>
</div>

<div class="audience">
    <div class="audience-item">
        <img src="../../../assets/images/profession/audience/audience-bg-one.png" alt="" class="audience-bg">
        <div class="audience-infolist">
            <h3 class="audience-title">Кому подойдет эта программа?</h3>
            <p class="audience-info">
                <span>
                    Программа рассчитана на старшеклассников 14-18 лет из любого города России
                </span>
            </p>
            <p class="audience-info">
                <img src="../../../assets/images/profession/audience/audience-info.png" alt=""
                    class="audience-info--img">
                <span> Для тех, кто ещё вообще не знает, какую профессию выбрать и почему</span>
            </p>
            <p class="audience-info">
                <img src="../../../assets/images/profession/audience/audience-info.png" alt=""
                    class="audience-info--img">
                <span> Для тех, кто уже выбрал профессию, но не знает, куда лучше поступать</span>
            </p>
            <p class="audience-info">
                <img src="../../../assets/images/profession/audience/audience-info.png" alt=""
                    class="audience-info--img">
                <span> Для тех, кто хочет узнать, как добиться успеха в работе, карьере и жизни</span>
            </p>
        </div>
        <a href="" class="audience-link">Отправить заявку</a>
    </div>
</div>

<div class="result">
    <div class="result__info">
        <h2 class="main__title">Что вы получите в результате?</h2>
        <hr class="main__hr">
        <div class="result__infolist">
            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Лучше разберетесь в себе, своих интересах и желаниях, раскроете
                    свой потенциал
                </div>
            </div>

            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Научитесь ставить цели, планировать свои действия и добиваться
                    результата
                </div>
            </div>

            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Исследуете рынок труда и узнаете о самых разных перспективных
                    профессиях
                </div>
            </div>

            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Выберете профессию мечты и поймете, чем хотите заниматься в
                    жизни
                </div>
            </div>

            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Подберете подходящие вузы или колледжи и оцените шансы на
                    поступление
                </div>
            </div>

            <div class="result__infolist-item">
                <div class="result__infolist-item--mt"></div>
                <div class="result__infolist-item--text">Составите пошаговый план подготовки к экзаменам и успешному
                    поступлению
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/images/profession/result.png" alt="" class="result__img">
</div>