html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration-line: underline;
}

body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 25px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.main {
    width: 100%;
    margin: 100px auto;
    min-height: 20.7%;
}

.main__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #383636;
    margin-bottom: 25px;
}

.main__hr {
    width: 40%;
    height: 0px;
    border: 1px solid #5044ae;
    margin: 0 0 50px 0;
}

fieldset {
    min-width: 0;
    padding: 10px 20px !important;
    margin: 0;
    border: 1px solid #383636 !important;
}

legend {
    float: inherit !important;
    width: auto !important;
    padding: 0;
    margin-bottom: 0 !important;
    line-height: inherit;
}
