<p class="title">МУНИЦИПАЛЬНАЯ ПРОГРАММА</p>
<p class="undertitle">&#8220;Улучшение экологической обстановки в Володарском муниципальном районе
    Нижегородской области&#8221;</p>
<div>
    <p class="digits">1.
        <span class="undertitle2">ПАСПОРТ ПРОГРАММЫ</span>
    </p>
</div>
<p></p>
<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2" style="width: 25%;">
            <p class="text">Наименование программы</p>
        </td>
        <td colspan="2" style="width:75%;">
            <p class="text">Муниципальная программа &quot;Улучшение экологической обстановки в Володарском
                муниципальном районе Нижегородской области&quot;</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="text">Муниципальный заказчик-координатор Программы</p>
        </td>
        <td colspan="2">
            <p class="text">Администрация Володарского муниципального района</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="text">Соисполнители Программы</p>
        </td>
        <td colspan="2">
            <p class="text">Управление строительства и ЖКХ,</p>
            <p class="text">Управление образования администрации Володарского муниципального района,</p>
            <p class="text">Отдел культуры, спорта и молодежной политики администрации Володарского
                муниципального района,</p>
            <p class="text">администрации городских и сельских поселений Володарского муниципального района
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:253px;">
            <p class="text">Цель программы</p>
        </td>
        <td colspan="2" style="width:388px;">
            <p class="text">Улучшение экологической обстановки на территории Володарского муниципального
                раина</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:253px;">
            <p class="text">Задачи программы</p>
        </td>
        <td colspan="2" style="width:388px;">
            <p class="text">1. Предотвращение вредного воздействия отходов производства и потребления на
                здоровье человека и окружающую среду.</p>
            <p class="text">2. Вовлечение максимального количества отходов в хозяйственный оборот в качестве
                дополнительных источников сырья, материалов, иных изделий или продуктов за счет организации
                раздельного сбора (сортировки) отходов</p>
            <p class="text">3. Формирование у населения всех возрастов и социальных групп активной жизненной
                позиции в деле практического участия в мероприятиях по формированию благоприятной окружающей
                среды.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:253px;">
            <p class="text">Сроки реализации Программы</p>
        </td>
        <td colspan="2" style="width:388px;">
            <p class="text">2018-2022 гг.</p>
        </td>
    </tr>
</table>

<p class="title"></p>
<p class="undertitle2">Программа &quot;Улучшение экологической обстановки в Володарском муниципальном
    районе&quot; по годам (тыс. рублей)</p>
<p class="text">Объемы бюджетных ассигнований программы за счет средств районного бюджета</p>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
    <tr class="undertitle2">
        <td width="40%">
        </td>
        <td width="10%">
            <div>
                <p>2018</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p>2019</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p>2020</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p>2021</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p>2022</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p>Total</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Предполагаемый общий объем финансовых средств за счет средств районного бюджета,
                необходимых для реализации программы</p>
        </td>
        <td>
            <div>
                <p class="text">50,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">21,5</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">71,94</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">613,1</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">63,1</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">819,64</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Справочно за счет средств федерального бюджета</p>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Справочно за счет средств областного бюджета не предусмотрено</p>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">10 803,68</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3 005,28</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">13 808,96</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">Расходы бюджетов поселений</p>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">747,81</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0,0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">747,81</p>
            </div>
        </td>
    </tr>
</table>

<p class="title"></p>
<p class="undertitle2">Индикаторы достижения цели и показатели непосредственных результатов</p>
<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td width="40%">
            <div>
                <p class="undertitle2">Наименование показателя</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">Ед. измерения</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">2018</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">2019</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">2020</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">2021</p>
            </div>
        </td>
        <td width="10%">
            <div>
                <p class="undertitle2">2022</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">1. Рекультивация объектов размещения твердых коммунальных отходов</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">2</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">2. Сокращение несанкционированных свалок на территории Володарского
                муниципального района до</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">20</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">15</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">10</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">5</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">3. Ликвидация несанкционированных свалок на территории муниципального района</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">11</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">4. Организация мест в муниципальных образованиях по раздельному сбору отходов
            </p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">2</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">4</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">5.Оборудование (обустройство) мест (площадок) для накопления твердых
                коммунальных отходов</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">73</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">7</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">6. Приобретение контейнеров для сбора твердых коммунальных отходов</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">98</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">25</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">7. Приобретение контейнеров для раздельного сбора отходов</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">73</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">8. Количество мероприятий, направленных на экологическое воспитание и пропаганду
                экологических знаний</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">5</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">4</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">9. Охват населения, принявшего участие в мероприятиях экологического воспитания
                и пропаганды экологический знаний</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">4 000</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">4 500</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">4 500</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3 000</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">3 000</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text">10. Разработка проектно-сметной документации на рекультивацию земельных
                участков, занятых свалкой отходов</p>
        </td>
        <td>
            <div>
                <p class="text">шт.</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">1</p>
            </div>
        </td>
        <td>
            <div>
                <p class="text">0</p>
            </div>
        </td>
    </tr>
</table>

<p class="title"></p>
<div>
    <p class="digits">2.
        <span class="undertitle2">ТЕКСТ ПРОГРАММЫ</span>
    </p>
</div>
<p class="text"></p>
<p class="digits">2.1
    <span class="undertitle2">Характеристика текущего состояния</span>
</p>

<div class="text">
    <p>Муниципальная программа &quot;Охрана окружающей среды Володарского муниципального района&quot;
        содержит комплекс мероприятий по решению приоритетных задач в сфере охраны окружающей среды на
        территории Володарского муниципального района и направлена на обеспечение благоприятной окружающей
        среды.</p>
    <p>Хозяйственный комплекс района представлен в основном предприятиями агропромышленного комплекса:
        сельхозпредприятиями, предприятиями перерабатывающей промышленности. Основные отрасли специализации
        &ndash; птицеводство, свиноводство, производство кормов, муки. Экологическая обстановка на
        территории Володарского района находится в прямой зависимости от хозяйственной деятельности данных
        предприятий.</p>
    <p>В связи со значительным сокращением производства в ОАО &quot;Ильиногорское&quot; сократилось и
        количество сбрасываемых производственных стоков, после биологической очистке в реку Югонец. В
        следствие чего наблюдается самоочищение реки. Но для полного очищения необходимо провести расчистку
        реки от донных отложений.</p>
    <p>В настоящее время на территории Володарского муниципального района отсутствуют полигоны для
        складирования и утилизации отходов. В соответствии с постановлением Правительства Нижегородской
        области от 30.08.2012 г. № 584 &quot;Об утверждении общей схемы расположения межмуниципальных
        объектов размещения отходов на территории Нижегородской области&quot; отходы поступают на полигон
        &quot;МАГ-1&quot; - территория городского округа г. Дзержинск. Отсутствуют предприятия, занимающиеся
        переработкой вторсырья.</p>
    <p>Одной из наиболее острых экологических проблем в настоящее время является загрязнение окружающей
        природной среды отходами. С ростом численности населения, повышения жизненного уровня увеличивается
        объем образования бытовых отходов.</p>
    <p>Источниками образования ТКО в Володарском муниципальном районе Нижегородской области являются
        предприятия и организации, субъекты малого бизнеса, население района.</p>
    <p>Проблемы в сфере обращения с отходами приводят к неблагоприятным экологическим и экономическим
        последствиям, негативному воздействию на окружающую среду, способствуют нарастанию социальной
        напряженности. В подавляющем большинстве муниципальных образований Володарского муниципального
        района система управления отходами работает неэффективно. Постоянно в районе образуются
        несанкционированные свалки.</p>
    <p>Несанкционированные свалки бытового и прочего мусора, помимо неприглядного и антисанитарного
        состояния, оказывают воздействие как на окружающую среду, так и представляют реальную угрозу
        здоровью населения. Они являются эпицентром заражения воздуха углекислым газом, метаном,
        сероводородом, фенолами и продуктами горения, грунта, и как следствие, грунтовых вод, через которые
        инфекция и токсические вещества могут распространяться от центра заражения на значительные
        расстояния. Мусор является благоприятной средой для развития микроорганизмов, вызывающих некоторые
        инфекционные заболевания.</p>
    <p>Для сокращения объемов твердых коммунальных отходов необходимо внедрять раздельный сбор мусора.
        Раздельный сбор мусора &ndash; это продуманная система, позволяющая не только производить очистку от
        бытовых отходов, но и дающая жизнь новым вещам, полученным в ходе переработки.</p>
    <p>Рекультивация закрытых свалок ТБО на территории района (полигон ТБО г. Володарск и Золинская свалка)
        так же остается одной из проблем.</p>
    <p>Процесс формирования экологической культуры может быть успешным, если в него вовлечены не только
        взрослые, но и дети, начиная с дошкольного возраста. Наряду с просветительской деятельностью,
        эффективным методом повышения экологической культуры становятся практические природоохранные
        мероприятия &ndash; трудовые акции по благоустройству и санитарной очистке территории района.</p>
    <p>Для решения указанных проблем необходимо формирование экологического сознания и повышения уровня
        экологической культуры населения путем его информирования о состоянии окружающей среды и привлечения
        к участию в мероприятиях, направленных на охрану окружающей среды.</p>
</div>

<p class="title"></p>
<p class="digits">2.2
    <span class="undertitle2">Цель и задачи программы</span>
</p>

<div class="text">
    <p>Целью программы является улучшение экологической обстановки в Володарском муниципальном районе.</p>
    <p>Основные задачи программы:</p>
    <p>1. Предотвращение вредного воздействия отходов производства и потребления на здоровье человека и
        окружающую среду.</p>
    <p>2. Вовлечение максимального количества отходов в хозяйственный оборот в качестве дополнительных
        источников сырья, материалов, иных изделий&nbsp; или продуктов&nbsp; за счет организации раздельного
        сбора (сортировки) отходов.</p>
    <p>3. Формирование у населения всех возрастов и социальных групп активной жизненной позиции в деле
        практического участия в мероприятиях по формированию благоприятной окружающей среды.</p>
</div>

<p class="title"></p>
<p class="digits">2.3
    <span class="undertitle2">Сроки и этапы реализации программы</span>
</p>

<p class="text">Срок реализации мероприятий программы с 2018 по 2022 годы. Программа реализуется в один
    этап.</p>

<p class="title"></p>
<p class="digits">2.4
    <span class="undertitle2">Перечень основных мероприятий программы</span>
</p>

<div class="text">
    <p>Основные мероприятия Программы предусматривают комплекс взаимосвязанных мер, направленных на
        достижение цели Программы.</p>
    <p>Исходя из необходимости решения поставленных задач, сформированы соответствующие мероприятия и сроки
        их реализации, информация о которых представлена&nbsp; в Приложение 1 к настоящей Программе.</p>
</div>

<p class="title"></p>
<p class="digits">2.5
    <span class="undertitle2">Индикаторы достижения цели и непосредственные результаты реализации
        программы</span>
</p>

<div class="text">
    <p>В качестве оценки результатов достижения поставленной цели Программы, предусмотрены следующие
        индикаторы&nbsp; непосредственного результата к концу реализации Программы:</p>
    <p>Разработка и актуализация проектно-сметной документации на рекультивацию полигона ТБО г. Володарска и
        Золинской свалки;</p>
    <p>Сокращение несанкционированных мест размещения отходов на территории Володарского муниципального
        района до 0;</p>
    <p>Организация мест в муниципальных образованиях по раздельному сбору отходов в количестве - до 11 мест;
    </p>
    <p>Проведение экологических мероприятий для различных слоев населения - 4 мероприятий в год;</p>
</div>

<p class="title"></p>
<p class="digits">2.6
    <span class="undertitle2">Меры правового регулирования программы</span>
</p>

<p class="text">Информация об основных мерах правового регулирования Программы предоставлена в приложении 3
    к настоящей Программе.</p>

<p class="title"></p>
<p class="digits">2.7
    <span class="undertitle2">Ресурсное обеспечение программы.</span>
</p>

<div class="text">
    <p>Общий объем финансирования Программы составляет 15 376,41 тыс. рублей, в том числе средства районного
        бюджета &ndash; 819,64 тыс. рублей, за счет средств федерального бюджета &ndash; 0,0 тыс. рублей, за
        счет средств областного бюджета &ndash; 13 808,96 тыс. рублей, за счет средств городских и сельских
        поселений, входящих в состав Володарского муниципального района &ndash; 747,81 тыс. рублей, за счет
        внебюджетных средств - 0,0 рублей.</p>
    <p>Объемы финансирования по программе будут ежегодно уточняться исходя из возможностей районного бюджета
        на соответствующий период.</p>
    <p>Ресурсное обеспечение Программы представлено в приложения 4 и 5.</p>
</div>

<p class="title"></p>
<p class="digits">2.8
    <span class="undertitle2">Ресурсное обеспечение программы.</span>
</p>

<div class="text">
    <p>При реализации Программы на достижение ее стратегических целей могут повлиять риск недофинансирования
        мероприятий Программы, изменение федерального законодательства и законодательства Нижегородской
        области, техногенные и экологические риски.</p>
    <p>Риск недофинансирования мероприятий Программы связан с несоответствием выделенных государственных
        ассигнований на реализацию мероприятий.</p>
    <p>Техногенные и экологические риски обусловлены, человеческим фактором, а также стихийными природными
        явлениями. Устранение их последствий может потребовать дополнительных капитальных вложений и
        отвлечения средств от финансирования других направлений.</p>
    <p>Риски недофинансирования указанных мероприятий и принятия неэффективных управленческих решений могут
        оказать отрицательное воздействие на эффективность реализации Программы в целом.</p>
    <p>Учитывая, что при реализации мероприятий Программы будет сформирована система текущего управления,
        координации и контроля, риск принятия неэффективных управленческих решений будет минимален.</p>
</div>

<p class="title"></p>
<p class="digits">2.9
    <span class="undertitle2">Оценка планируемой эффективности муниципальной программы</span>
</p>

<div class="text">
    <p>1. Эффективность реализации программы оценивается ежегодно на основе целевых показателей,
        предусмотренных приложением № 2, исходя из соответствия фактических значений показателей с их
        целевыми значениями, а также уровнем использования средств, предусмотренных в целях финансирования
        мероприятий муниципальной программы.</p>
    <p>2. Оценка эффективности реализации муниципальной программы проводится на основе:</p>
    <p>оценки степени достижения целей и решения задач муниципальной программы путем сопоставлении
        фактически достигнутых в отчетном году значений показателей муниципальной программы, приведенных в
        приложении № 2, по формуле:</p>
    <p align="div">Сд = Зф/Зп * 100%, где:</p>
    <p>Сд - степень достижения целей (решения задач),</p>
    <p>Зф - фактическое значение показателя подпрограммы в отчетном году,</p>
    <p>Зп - запланированное на отчетный год значение показателя программы - для показателей, тенденцией
        изменения которых является рост значений,</p>
    <p>или</p>
    <p>Сд = Зп/Зф * 100% - для показателя, тенденцией изменения которых является снижение значений;</p>
    <p>оценки уровня освоения средств районного бюджета и иных источников ресурсного обеспечения программы
        путем сопоставления плановых и фактических объемов финансирования основных мероприятий программы,
        представленных в приложении № 1 и № 5 по каждому источнику ресурсного обеспечения (областной,
        федеральный бюджет, бюджеты муниципальных образований, бюджеты внебюджетных источников), по формуле:
    </p>
    <p align="div">Уф = Фф/Фп * 100%, где</p>
    <p>Уф - уровень освоения средств программы в отчетном году,</p>
    <p>Фф - объем бюджетных (внебюджетных) назначений по программе на отчетный год;</p>
    <p>оценки степени реализации основных мероприятий программы (достижения ожидаемых непосредственных
        результатов их реализации).</p>
    <p>Программа считается реализуемой с высоким уровнем эффективности, если:</p>
    <p>- показатели Программы соответствуют интервалу значений&nbsp; 80 % и более;</p>
    <p>- не менее е 80 % мероприятий, запланированных на отчетный год, выполнены в полном объеме;</p>
    <p>Программа считается реализуемой с удовлетворительным уровнем эффективности, если:</p>
    <p>- показатели&nbsp; Программы соответствуют интервалу значений&nbsp; от 70 % до 80 %;</p>
    <p>- выполнение запланированных на год мероприятий в интервале&nbsp; 70 % до 95 %.</p>
    <p>Если реализация Программы не отвечает приведенным выше критериям, уровень эффективности ее реализации
        в отчетном году признается неудовлетворительным.</p>
</div>