<div class="container">
    <div class="item item-one">
        <div class="container__title">Построить маршрут</div>
        <img class="img-big" src="../../../assets/images/transport/marshrut.png" alt="">
    </div>

    <div class="item-center">
        <div class="inline-container">

            <div class="inline-item item-two" :nth-child>
                <div class="container__title">Такси</div>
                <img src="../../../assets/images/transport/taxi.png" alt="">

            </div>

            <div class="inline-item item-three">
                <div class="container__title">Штрафы</div>
                <img src="../../../assets/images/transport/fines.png" alt="">
            </div>
            <div class="inline-item item-four">
                <div class="container__title">Грузовой транспорт</div>
                <img src="../../../assets/images/transport/cargo-transport.png" alt="">
            </div>
        </div>


    </div>
    <div class="item item-news" style="background-color: rgb(228, 228, 228); padding-left: 10px;">
        <h3 class="item__title">Новости</h3>
        <a class="item__desc">
            <div class="item__date">2 ноября</div>
            В Музее Транспорта Москвы новая временная выставка
        </a>

        <a class="item__desc">
            <div class="item__date">2 ноября</div>
            В Музее Транспорта Москвы новая временная выставка
        </a>
    </div>
</div>

<div class="container__traffic">
    <div class="container__traffic-metro item-six">
        <div class="container__title">Парковки</div>
        <img src="../../../assets/images/transport/car-park.png" alt="">
    </div>
    <div class="container__traffic-auto">
        <div class="container__traffic-auto_activity item-seven">
            <div class="container__title">Реклама</div>
            <img src="../../../assets/images/transport/" alt="">
        </div>
        <div class="container__traffic-auto_scheme item-eight">
            <div class="container__title">Транспортные приложения</div>
            <img src="../../../assets/images/transport/services.png" alt="">
        </div>
    </div>

</div>

<div class="container__payments">
    <div class="container__payments-ride item-nine">
        <div class="container__title">Энергетика</div>
        <img src="../../../assets/images/transport/energy.png" alt="">
    </div>
    <div class="container__payments-schedule">
        <div class="container__payments-schedule1 item-ten">
            <div class="container__title">Расписание автобусов</div>
            <img src="../../../assets/images/transport/bus-table.png" alt="">
        </div>
        <div class="container__payments-schedule2 item-eleven">
            <div class="container__title">Найти эвакуированный автомобиль</div>
            <img src="../../../assets/images/transport/evacuated.png" alt="">
        </div>

    </div>
    <div class="container__payments-autobus item-twelve">
        <div class="container__title">Пополнение транспортной карты</div>
        <img src="../../../assets/images/transport/bus.png" alt="">
    </div>
</div>

<div class="container">
    <div class="item item-ten-three">
        <div class="container__title">Изменения в маршрутах</div>
        <img src="../../../assets/images/transport/edit-marshrut.png" alt="">
    </div>

    <div class="item-center">
        <div class="inline-container">

            <div class="inline-item item-ten-four" :nth-child>
                <div class="container__title">Реклама</div>
                <img src="../../../assets/images/transport/" alt="">
            </div>

            <div class="inline-item item-ten-five">
                <div class="container__title">Реклама</div>
                <img src="../../../assets/images/transport/" alt="">
            </div>
            <div class="inline-item item-ten-six">
                <div class="container__title">Нарушение условий стоянки</div>
                <img src="../../../assets/images/transport/parking.png" alt="">
            </div>
        </div>


    </div>
    <div class="item item-ten-seven">
        <div class="container__title">Расписание движения межгородских поездов и автобусов</div>
        <img src="../../../assets/images/transport/train.png" alt="">
    </div>
</div>


<div class="container" style="margin-top: 2%;">
    <div class="item item-ten-eight" style="width:40%">
        <div class="container__title">Схема пробок</div>
        <img src="../../../assets/images/transport/traffic.png" alt="">
    </div>

    <div class="item-center">
        <div class="inline-container" style="width: 100%;flex-direction: column;">

            <div class="inline-item item-ten-nine" style="width: 100%; margin-bottom: 2%;">
                <div class="container__title">Реклама</div>
                <img src="../../../assets/images/transport/" alt="">
            </div>
            <div class="inline-item item-twenty" style="width: 100%;">
                <div class="container__title">Реклама</div>
                <img src="../../../assets/images/transport/" alt="">
            </div>
        </div>


    </div>
    <div class="item item-twenty-one">
        <div class="container__title">Реклама</div>
        <img src="../../../assets/images/transport/" alt="">
    </div>
</div>

<div class="faq">
    <div class="faq__title">
        Частые вопросы
    </div>
    <div class="faq__item">Как при вызове такси быть уверенным, что такси — легальное?</div>
    <div class="faq__item">Что такое каршеринг?</div>
    <div class="faq__item">Можно ли провозить велосипед в трамвае, автобусе?</div>

</div>