<div class="frame" style="margin-left: 100px">
    <div class="plashka"
        style="margin-left: 0px; width: 100%; margin-top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
        <p>Национальный проект "Жилье и городская среда"</p>
    </div>
    <div class="text" style="margin-left: 15px">
        <p>Региональный проект "Обеспечение устойчивого сокращения непригодного для проживания жилищного фонда"
            направлен на расселение аварийного жилищного фонда. Региональный проект реализуется в рамках адресной
            программы "Переселение граждан из аварийного жилищного фонда на территории Нижегородской области на
            2019-2025 годы".</p>
        <p>На территории Володарского муниципального района в период 2019-2025 годов запланировано к расселению 32
            многоквартирных дома или 187 жилых помещений общей площадью 7406,9 кв.м., в которых проживает 459 жителей.
            Из них: в г. Володарске – 16, в п. Решетихе – 15, в п. Центральный – 1. В соответствии со вторым этапом
            реализации Программы на 2020-2021 годы запланировано приобретение на вторичном рынке жилья 6 жилых
            помещений, одного жилого помещения по договору мены и приобретение 46 жилых помещений у застройщика в
            строящемся доме.</p>
        <p>В текущем году приобретено 5 жилых помещений на вторичном рынке на сумму 5,4 млн. рублей. В настоящее время
            завершено определение поставщика на приобретение еще одного жилого помещения. В результате 10 граждан смогут
            улучшить свои жилищные условия. Общая стоимость приобретаемых квартир составит 6,8 млн. рублей.</p>
        <p>Общая сумма денежных средств, выделенных на приобретение 6 жилых помещений на вторичном рынке в 2020 году,
            составила 13,3 млн. рублей.</p>
        <p>Кроме того, объявлен электронный аукцион на определение поставщика по приобретению в муниципальную
            собственность 46 жилых помещений, в том числе 12 жилых помещений в г. Володарск на общую сумму 18,4
            млн.рублей и 34 жилых помещений в р.п. Решетиха на общую сумму 47,7 млн. рублей.</p>
        <p>В рамках регионального проекта "Формирование комфортной городской среды" выполняется благоустройство мест
            массового отдыха населения.</p>
        <p>Исполнением регионального проекта по Володарскому району стало благоустройство 4 общественных пространств в
            трех поселениях района на сумму 15,3 млн. рублей:</p>
        <ul class="text">
            <li style="list-style: circle">
                <p>сквер по пр. Кирова в п. Решетиха</p>
            </li>
            <li style="list-style: circle">
                <p>сквер за домом № 1Г по ул. Затылкова в п. Решетиха</p>
            </li>
            <li style="list-style: circle">
                <p>устройство фонтана в п. Юганец (II этап)</p>
            </li>
            <li style="list-style: circle">
                <p>Почтовая площадь в п. Центральный</p>
            </li>
        </ul>

        <p>Дополнительно за счет сложившейся экономии по результатам конкурентных закупок на общую сумму 7,4 млн. рублей
            благоустроено 12 дворовых территорий в 4 поселениях района: п. Смолино, п. Ильино, п. Фролищи, п. Решетиха.
            Кроме того, в г. Володарск за счет средств местного бюджета благоустроены три дворовые территории на 700
            тыс. рублей.</p>
        <p>В рамках проекта по развитию в Нижегородской области инициативного бюджетирования "Вам решать" благоустроено
            5 дворовых территорий в п. Фролищи на сумму 2,3 млн. рублей.</p>
        <p>В период с 2021-2024 годы в рамках регионального проекта "Формирование комфортной городской среды" на
            территории Володарского муниципального района планируется благоустроить 24 общественных пространства и 251
            дворовую территорию.</p>
        <p>В рамках программы поддержки местных инициатив в 2020 году было реализовано 8 проектов на 10,8 млн. рублей, в
            том числе средства областного бюджета составили 6,5 млн. рублей, местного бюджета – 3,3 млн. рублей,
            средства спонсоров и населения – 1 млн. рублей.</p>
    </div>
</div>