<div class="info">
    <div class="inline">
        <div class="inline-content filter">
            <div class="inline-content-new-text">
                <p class="inline-content-new-title">ЦЕЛИ И ЗАДАЧИ</p>
                <div class="text">

                    <p>
                        Оказание услуг субъектам малого и среднего бизнеса,
                        содействие развитию предпринимательства в Володарском муниципальном районе,
                        поддержка инициативы при осуществлении предпринимательской деятельности:</p>
                    <ul>
                        <li>Содействие развитию всех видов предпринимательской деятельности на территории
                            Володарского района с учетом экономических интересов и потребностей территории
                        </li>
                        <li>Содействие развитие системы образования и подготовки кадров для малого предпринимательства,
                            а также обучения граждан под самозанятость</li>
                        <li>Создание и развитие эффективной инфраструктуры поддержки
                            малого предпринимательства</li>
                        <li>Привлечение кредитных ресурсов для малого предпринимательства
                            Володасркого муниципального района</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inline-content filter">
            <div class="inline-content-new-text">
                <p class="inline-content-new-title">ЦЕЛИ И ЗАДАЧИ</p>
                <div class="text">
                    <ul>
                        <li class="li-pic"><a class="pdf" href="../../../assets/doc/Ootcet_2020.pdf">Отчет о работе
                                2020</a>
                        </li>
                        <li class="li-pic"><a class="pdf" href="../../../assets/doc/plan_2021.pdf">План работы 2021</a>
                        </li>
                        <li class="li-pic"><a class="pdf" href="../../../assets/doc/politika.pdf">Политика
                                конфиденциальности</a></li>
                        <li class="li-pic"><a class="pdf" href="../../../assets/doc/strat21-25.pdf">Стратегия развития
                                2021-2025 гг</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inline-content filter">
            <div class="inline-content-new-text">
                <p class="inline-content-new-title">НАШИ УСЛУГИ</p>
                <div class="text">
                    <div>
                        <p>БУХГАЛТЕРСКИЕ УСЛУГИ:</p>
                        <ul>
                            <li>консультации бухгалтерской, налоговой, статистической отчетности</li>
                            <li>отправка отчетов по ТКС в ПФР, ФСС, ФНС, РПН</li>
                        </ul>
                    </div>
                    <div>
                        <p>УСЛУГИ ПРАВОВОГО ХАРАКТЕРА:</p>
                        <ul>
                            <li>регистрация и открытие ИП, ООО, ЗАО, ОАО</li>
                            <li>консультационные услуги по вопросам, связанным с регистрацией и развитием
                                предпринимательской деятельности</li>
                            <li>открытие расчетного счета</li>
                        </ul>
                    </div>
                    <div>
                        <p>МАРКЕТИНГОВЫЕ УСЛУГИ:</p>
                        <ul>
                            <li>поиск новых каналов продаж</li>
                            <li>привлечение клиентов в свой бизнес</li>
                            <li>реклама и продающие тексты</li>
                            <li>побучение</li>
                            <li>консультации по управлению персоналом, HR</li>
                        </ul>
                    </div>
                    <div>
                        <p>ПОМОЩЬ В ПОЛУЧЕНИИ МИКРО- И МАКРОЗАЙМОВ от 1%</p>
                        <ul>
                            <li>подберем лучшие условия от банков-партнеров</li>
                        </ul>
                        <p>СОПРОВОЖДЕНИЕ ТЕНДЕРОВ "ПОД КЛЮЧ"</p>
                        <ul>
                            <li>экономия на постоянном сотруднике от 50 000 рублей</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inline">
        <div class="inline-content">
            <div class="profile">
                <div class="photo filter">
                    <img class="person" src="../../../assets/images/biryukova.png">
                </div>
                <div class="character text">
                    <p>Елена Бирюкова</p>
                    <p>Директор</p>
                    <div class="phone">
                        <img class="img-phone" src="../../../assets/images/phone.png">
                        <p>8 (920) 042-31-81</p>
                    </div>
                    <p style="margin-top: 20px">
                        Маркетолог

                        С 2009 года тренер продаж в рознице

                        Член Торгово-промышленной палаты

                        Член общественной организации «Деловая Россия»

                        Ведущий Международных проектов ZIZOR и Ассоциации

                        Стратегических Партнерств и Альянсов
                        Обучила более 450 менеджеров.
                    </p>


                </div>
            </div>
        </div>
        <div class="inline-content">
            <div class="profile">
                <div class="photo filter">
                    <img class="person" src="../../../assets/images/kiseleva.png">
                </div>
                <div class="character text">
                    <p>Ирина Киселёва</p>
                    <p>Заместитель директора</p>
                    <div class="phone">
                        <img class="img-phone" src="../../../assets/images/phone.png">
                        <p>8 (910) 101-17-55</p>
                    </div>
                    <p style="margin-top: 20px">
                        Стаж более 20 лет главным бухгалтером
                        Опыт ведения бухгалтерского, налогового учета
                        Подготовка и сдача отчётности в налоговые органы и фонды
                        Знание бухгалтерского и налогового законодательства.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>